Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  e7ac64fbb801f0102378384b06f2f1ccfa2fe0a0
Due: none

fix(app): automatically remove offline notification if network connection is reestablished
  src/lib/components/shared/app/EnableNetworkNotifications.svelte
  src/lib/stores/notifications.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2511f83c67cd50ed633469c3c12e9ebb684060db
Due: none

chore(deps): remove esbuild override
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump 5 packages
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.13.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef6d59ebaaa1489d236424ac5601e24133465f8c
Due: none

fix(ai): set gemini-2.5-flash-lite as default model
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6c7973ec0ef5f9327ead190fc4879431c9cc6f01
Due: none

fix(ai): update tests
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bb699269c724880d063ca5b9312e63c363984c81
Due: none

fix(ai): fix navigate to settings for ai summary error view
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  tests/pages/news.page.ts
  tests/pages/settings.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6dd2770e8a19f9a3b582ffcab8d36bf905f616ce
Due: none

fix: handle ctrl/meta key bindings equally
  src/lib/components/news/story/Story.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5dab4159955ab7cf73cd58a75b1365daff4b8485
Due: none

chore(deps): upgrade to vite v7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade to vite v7 (#125)
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.13.1-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b81db436d09a3cc89b13ee5fd115b94d99cccbcf
Due: none

fix(story): implement viewed timeout for bookmarks
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1b55cb887f4f5f34a528700db46a33567502c1fd
Due: none

fix(news): add duplicate story id check
  src/lib/components/news/News.svelte
  src/lib/stores/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc0539bb1b5e5ccd747b1d6c02f8f75f6f3243bd
Due: none

fix(news): add story deduplication
  src/lib/stores/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56ab8fd3bdd37e153b82b2531313c5ffbfc4a712
Due: none

chore: fix lint issues
  src/lib/components/news/News.svelte
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/shared/content/Header.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8bc5b5afd9390f02f37666fb62a450ca41057620
Due: none

chore(release): 4.13.1-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  16d0247697c4a8d307702c68fbf66e16156e3b36
Due: none

fix(imageViewer): improve keyboard shortcut description styles
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
