Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  58053b441c947e8ca72f77d64e4304b4d58954d3
Due: none

fix(story): add transition for is-read badge
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/accessibleTransition.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  020c2e6ecd22712059e55c1de010bd15fed2a546
Due: none

fix(story): improve story content transition
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95109d5a98c4943e65ac1c72aa075e0b3cbba2aa
Due: none

fix(story): increase scrollIntoView delay when story content is closed
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8bc9b0f12a0886c9416d7c875e69ee3ab3a3f0a4
Due: none

chore(release): 4.13.1-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(story): refactor scrollIntoView behavior when content collapses
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cc2db182b25b4b96c32b26ab1311b0d474ed25c5
Due: none

chore(release): 4.13.1-next.18 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  532c03ed6893d76471cc7270b79eab80cb634623
Due: none

fix(news): improve news backend
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

fix(story): improve story content error message
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/components/shared/controls/Link.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.1-next.19 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a511cfe798db1e928c3017762f161cbd84bdde0a
Due: none

ci: use aikido safe-chain for dependency scanning
  .github/workflows/ci.yaml
Due: none

chore(release): 4.13.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56bc07bdc90b50ce1a5d093fa491239c1b2fa43e
Due: none

chore(deps): bump jsdom from 26.1.0 to 27.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump uuid from 11.1.0 to 13.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.13.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83be19a15e229a31fbad3393ab5fdf2cb372a89b
Due: none

fix: improve story footer layout
  src/app.css
Due: prettier --write

fix: adjust story fact styles
  src/app.css
Due: prettier --write

chore(release): 4.13.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31506fa993101896c3d846f5fa500017c277737c
Due: none

chore(release): 4.13.2-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2416bc0efb435f3ef4d6395541e347598804efe8
Due: none

fix(imageViewer): improve caption pointer event handling
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.2-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  99815f6920b850001590a330d10514c3b533aacf
Due: none

fix(content): adjust read-more url extraction
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.2-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e6b60021ec98057374ee694dd2928aab1d0513d
Due: none

chore(release): 4.13.2-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1db9ddc192d2e77d45e8e57f1274066a8bd5e7f7
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
