Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

feat: add panzoom to image viewer (#56)
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/dynamicModuleLoader.ts
  src/lib/utils/panzoomModule.ts
  src/lib/utils/support.ts
  src/lib/utils/web-api-support.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ff90cdf978316f6a4c6628af6d1fca2c7ce46206
Due: none

fix(news): add cancel option for search requests
  src/lib/api/news.ts
  src/lib/components/news/News.svelte
  src/lib/components/shared/loading/SpinningDotsIndicator.svelte
  src/stories/loading/indicators/SpinningDotsLoadingIndicator.stories.js
  src/stories/loading/indicators/SpinningDotsLoadingIndicatorView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31ec26d7067a1ce02ca38bc9e8409d2e656f1877
Due: none

chore(release): 4.9.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9fbe321565a303d1c6958e005812fd5588fd3f2a
Due: none

chore: add source-map-explorer
  package-lock.json
  package.json
Due: prettier --write

fix(news): remove more-to-read section before creating reading optimized document
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  09db4445ffd039a7fa9eb7343bd8fc93773434b7
Due: none

fix(news): add error handling for share action
  src/lib/components/news/story/header/options/ShareButton.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  de7637befc7a4acdbd2cfc8cc867498310f02137
Due: none

chore(release): 4.9.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: add custom logger
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/components/news/story/header/options/ShareButton.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/stores/news.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/logger.ts
  src/lib/utils/notifications.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79df6f86d96c52fb8a313fdee05e8cb6d1737ea7
Due: none

chore(release): 4.9.0-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  48da30e571c6df81a169352973191d47a8fb0176
Due: none

fix: bump
  bump
Due: none

chore(release): 4.9.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e970837249b4efff3d49a72b4ead08bc9a316a2c
Due: none

fix(news): add keyboard shortcuts for panzoom
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a03c39b94cf07e9ecf3071bb7ac6d52f583d343a
Due: none

Notes added by 'git notes add'
  bc60a0b6ec9133b0d7a2639ee3c76ecbe118e777
Due: none

chore(release): 4.9.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore: extract pan distance as config variable
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

fix(news): adjust fact box layout
  src/app.scss
Due: prettier --write

chore(release): 4.9.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e24cabb9b62035ac07201f219fc21ad8402a6e18
Due: none

fix: rework alert box
  src/lib/components/news/News.svelte
  src/lib/components/news/bookmarks/Bookmarks.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AlertBox.svelte
  src/lib/components/shared/controls/Button.svelte
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/utils/styles.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49f160c4b2430e092153e6daf015b46c579a1efb
Due: none

fix(news): add image viewer shortcuts info
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/components/shared/content/Popover.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  cf3b4aaa5dd25ccfb143e0040694fb75f3299408
Due: none

chore(release): 4.9.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
