Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.15.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  74ade44ea21f7fa6478298a3c985dc20bed9cccd
Due: none

feat(ai): add model docs link
  src/lib/components/settings/ai/AI.svelte
Due: prettier --write, eslint --fix

fix(ai): update model doc links
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d4ba64df943c0288681b678f9528529682a6c829
Due: none

chore(release): 4.15.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a306ae9c52ad2708796b6dc37bd5935afb50a572
Due: none

chore(release): 4.15.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.15.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3d4bbbbcd61bd9ef11181b249a08c8cf02e6ad52
Due: none

chore(deps): migrate vite
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update jsdom
  package-lock.json
  package.json
Due: prettier --write

chore(deps): migrate vite to v8
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.15.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f1e0decb894ed018f96da0f49173b42004deb27
Due: none

chore: update lock file
  package-lock.json
Due: prettier --write

chore(release): 4.15.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ec87658aba514faa4a7e6db0871d12803039ad67
Due: none

feat(content): rework and improve error handling
  src/lib/api/trpc.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/trpc/router.ts
  src/lib/errors/errors.ts
  src/lib/models/charts.ts
  src/lib/utils/http.ts
Due: prettier --write, eslint --fix

fix(content): add error message field
  src/lib/backend/content/news.ts
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

fix(content): enhance error logging for chart data fetching
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

refactor(content): enhance error handling with structured tags for better logging
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

test(content): add unit tests for chart placeholder replacement logic
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

refactor(content): initialize id and source variables with explicit types
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

refactor(content): improve error handling by adding cause message to MetaDataNotFoundError
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

fix(content): improve error logging for readMore URL fetching by including detailed tag information
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

feat(content): rework and improve error handling (#191)
  src/lib/api/trpc.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/trpc/router.ts
  src/lib/errors/errors.ts
  src/lib/models/charts.ts
  src/lib/utils/http.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  87e1fae06bfc001f9fa57f3e96723d62673ce128
Due: none

chore(release): 4.15.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  98b26c773c9369357bd9f10310b85bdea5010f08
Due: none

Notes added by 'git notes add'
  d7f9377ab7c24b99be5054b5a8a6a53acc0bbf79
Due: none

chore(release): 4.15.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.15.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e4f09ac46f71d68ece67245e80d2e5500042d0e
Due: none

chore(release): 4.15.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a20117400dab35f9caef0c7ecaee2cf5449b69f7
Due: none

chore(release): 4.15.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4819d13d97a7edf4b4f157ca68f96664f8c38f4a
Due: none

chore(deps): pin lru-cache
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
