Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore: disable sonda auto open reports
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.4-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  799139197e8af19838cb32c5904a5975746c6b29
Due: none

feat(popover): use CloseWatcher API for popovers if possible
  src/app.d.ts
  src/lib/components/shared/content/Popover.svelte
  src/lib/utils/support.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3774be5916a9771ca2aa0aa96d85af4ac3c151d1
Due: none

feat(modal): use CloseWatcher API for modals if possible
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/content/Popover.svelte
  src/lib/utils/closeWatcher.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1db0964b30eb525319854c56b6b729b79b7665ee
Due: none

fix(ai): improve ai service logging
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3d37556ee7f0d9699a065965bfd088136f9411f3
Due: none

chore(release): 4.12.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  46c898e7480fd1fd777b9c6ffc611463093f6bdd
Due: none

fix(settings): improve gemini api key input placeholder
  src/lib/components/settings/ai/AI.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  300200e443559aa5fad938d74e165f8d4055772a
Due: none

chore(deps): migrate tailwindcss to v4
  .storybook/preview.css
  .storybook/preview.js
  .storybook/preview.scss
  package-lock.json
  package.json
  postcss.config.cjs
  src/app.css
  src/lib/components/news/filter/BookmarkDeletePopover.svelte
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/components/shared/content/Item.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/components/shared/content/Section.svelte
  src/lib/components/shared/controls/DateInput.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/components/shared/controls/Link.svelte
  src/lib/components/shared/controls/Notification.svelte
  src/lib/components/shared/controls/Select.svelte
  src/lib/components/shared/controls/button.styles.ts
  src/lib/components/shared/loading/ConicGradientSpinner.svelte
  src/lib/components/shared/loading/SpinningDotsIndicator.svelte
  src/lib/components/shared/loading/ThreeDotsLoadingIndicator.svelte
  src/lib/utils/styles.ts
  src/stories/loading/indicators/ConicGradientSpinner.stories.js
  src/stories/loading/skeleton/SkeletonView.svelte
  tailwind.config.ts
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

fix(story): add aria-label for image viewer
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

fix(settings): adjust audio select width
  src/lib/components/settings/audio/Audio.svelte
Due: prettier --write, eslint --fix

fix: use old hover behavior
  src/app.css
Due: prettier --write

fix: define default outline width as css var
  src/app.css
  src/lib/components/shared/controls/button.styles.ts
Due: prettier --write, eslint --fix

chore(deps): migrate tailwindcss to v4 (#110)
  .storybook/preview.css
  .storybook/preview.js
  .storybook/preview.scss
  package-lock.json
  package.json
  postcss.config.cjs
  src/app.css
  src/lib/components/news/filter/BookmarkDeletePopover.svelte
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/components/shared/content/Item.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/components/shared/content/Section.svelte
  src/lib/components/shared/controls/DateInput.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/components/shared/controls/Link.svelte
  src/lib/components/shared/controls/Notification.svelte
  src/lib/components/shared/controls/Select.svelte
  src/lib/components/shared/controls/button.styles.ts
  src/lib/components/shared/loading/ConicGradientSpinner.svelte
  src/lib/components/shared/loading/SpinningDotsIndicator.svelte
  src/lib/components/shared/loading/ThreeDotsLoadingIndicator.svelte
  src/lib/utils/styles.ts
  src/stories/loading/indicators/ConicGradientSpinner.stories.js
  src/stories/loading/skeleton/SkeletonView.svelte
  tailwind.config.ts
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  655fe3b8ca5fa6a6c265144fb3431fb34db119cd
Due: none

chore(deps): update package-lock
  package-lock.json
Due: prettier --write

chore(release): 4.12.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f470b92f385402d83be93e5cda4d6faa08ad4be
Due: none

chore(release): 4.12.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2db65f71fd48976d7eb5bde9c32c892e57308866
Due: none

fix: use uniform outline styles for controls
  src/app.css
  src/lib/components/shared/controls/DateInput.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/components/shared/controls/Notification.svelte
  src/lib/components/shared/controls/Select.svelte
  src/lib/components/shared/controls/button.styles.ts
  src/stories/controls/DateInput.stories.js
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a81697a5ca746dce8be136657c905ec7686aa98
Due: none

fix(select): improve select element styles
  src/lib/components/shared/controls/Select.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8151970efbf69f57dbac7053433f217b7e292b12
Due: none

chore(release): 4.12.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f8c7b36673e18c760954d95f8cbf57885ff0e61
Due: none

fix(transition): adjust popover/modal transitions
  src/lib/components/news/filter/BookmarkDeletePopover.svelte
  src/lib/components/news/filter/NewsFilterPopover.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/news/story/header/options/StoryPopover.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/content/Popover.svelte
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/utils/transitions.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
