Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.11.0-next.26 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  34e1c7a92f8d4154edbd5666d4c92e1006740e80
Due: none

chore(deps): update @vite-pwa/sveltekit and vite-plugin-pwa to version 1.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.11.0-next.27 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  11e7c71692f12c6111fc8c664795b3bbab91b5b9
Due: none

chore(release): 4.11.0-next.28 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c0401f900525b5b9289746c6703caa7fbeeec90b
Due: none

chore(release): 4.11.0-next.29 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e22d8924163d9a0bc592a21cc9b4faf783c1c4d3
Due: none

fix(stores): refactor rune stores to use classes + context
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.30 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f8343ef96fa03b8f937d2a18bfa5f9d314574682
Due: none

fix(story): refactor story summary state
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
Due: prettier --write, eslint --fix

fix(story): refactor story summary using effect
  eslint.config.js
  package-lock.json
  package.json
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/errors/errors.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.31 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b7af233c72b2805338d0bcdb433eb92f8e345e1d
Due: none

fix(ai): add retry logic
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.32 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  908fb356ab2bf2796e08eb433289271c66f5e482
Due: none

fix(ai): improve retry handling
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(story): adjust modal height for AI summary
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.33 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7b654fc4456ecb9fe1385bfe8f4294801d37a48b
Due: none

fix(ai): remove this aliases
  eslint.config.js
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.34 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38132ed11e2d5990183b415f98e1bad88b99dab3
Due: none

refactor: remove unused search parameter utility functions
  src/lib/backend/utils/searchParams.ts
Due: prettier --write, eslint --fix

fix(story): improve error logging for ai summary generation
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.35 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd8007d55a4e96bcb5ff0994d2cc1b18cecc5086
Due: none

chore(release): 4.11.0-next.36 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a680c3241e97ce810c7df80a0b54deb5fc36b745
Due: none

fix: add runEffect helper
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/utils/effectHelper.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  db980e78a5d7bf0e5eb587c97bbd4809bc5800b6
Due: none

chore(release): 4.11.0-next.37 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(ai): remove gemini pro preview model
  src/lib/configs/client.ts
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.38 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ba85435fa2095564355cccdaf35b0c330bc7f614
Due: none

fix(ai): refactor AI service to use OpenAI API
  package-lock.json
  package.json
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.39 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
