Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

fix(news): fix image viewer nav button disabled state
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7b84b27737cce9d011b9a69c17f92da0afcd365a
Due: none

fix(news): set correct overflow value when image viewer is closed
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9b91496362d2626352cb3a733b3e07d9210c2399
Due: none

fix(news): adjust image viewer layout
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84869409983e36c027f39f52fa15b6dc8397af87
Due: none

fix: reduce layout shifts caused by scrollbars
  src/app.scss
Due: prettier --write

chore(release): 4.6.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a39b0bc27f19d01bf8be95e3e8d6c2cfaaeab91
Due: none

Revert "fix: reduce layout shifts caused by scrollbars"
  src/app.scss
Due: prettier --write

chore(release): 4.6.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c6dec65e1778ef7f5bd59773447c7765176073bc
Due: none

fix(news): adjust image viewer navigation
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3345affea611732520bdbb0488952e6a1d4fba0a
Due: none

Notes added by 'git notes add'
  fb6a4d1d356058764df2786c141e5036f808a17c
Due: none

chore(release): 4.6.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat: add new fancy loading indicator
  src/lib/components/news/News.svelte
  src/lib/components/ui/loading/SpinningDotsIndicator.svelte
  src/lib/components/utils/EnableUpdateListener.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62f014eed9d54c2fac712e5f2b28c05d94e92f31
Due: none

fix(news): increase delay for overlay loading indicator
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2dbeabb7c268c32445b8ee340470ecca087b3dbe
Due: none

fix(news): adjust url validation for content fetching
  src/lib/backend/utils/urls.ts
  src/lib/configs/server.ts
  src/routes/api/news/content/+server.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5ee2600c15ce350e0f8193dd9c18394bda98d386
Due: none

chore(release): 4.6.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a2f644c6d5cf93008c66b8c70c40faff3186731
Due: none

chore(tests): refactor e2e tests
  .github/workflows/test.yaml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  src/routes/+layout.svelte
  tests/fixtures.ts
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
  tests/pages/settings.page.ts
  tests/specs/news.spec.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

ci(tests): add manual run option for test workflow
  .github/workflows/test.yaml
Due: none

chore(release): 4.6.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33a05f3384e76c5a50e6454ed824596e90e052f2
Due: none

fix(news): adjust image viewer navigation layout
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/components/ui/icons/outline/ChevronLeftIcon.svelte
  src/lib/components/ui/icons/outline/ChevronRightIcon.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  df6b75b55212672a2cf95c66e5e767b5200ff1f5
Due: none
