Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.9.5-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.9.5-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ca689bd590bde3fd6f09d1beef3e84b396f57dce
Due: none

chore(release): 4.9.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5b05113370dd0776d43acdc150fb56efb34bba08
Due: none

feat(bookmarks): add filter reset functionality to empty state
  src/lib/components/news/bookmarks/Bookmarks.svelte
  src/lib/stores/bookmarks.ts
Due: prettier --write, eslint --fix

chore(release): 4.10.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29851cce8d2661b890a98e419815606f6e7a2188
Due: none

chore: upgrade Node.js base image to version 22
  Dockerfile
Due: none

fix(datepicker): fix days grouped by week calculation
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  37998c0fc45ce93e59abbb1f2f16bd85b0664a2f
Due: none

chore(release): 4.10.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  37fb2ec75e612d00068dedb71237d62abdc41a65
Due: none

chore: update license
  LICENSE
Due: none

fix(news): improve image handling
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  937d07cf5f771be4b875d96584de618f054f7f46
Due: none

fix(datepicker): improve day key generation for rendering
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b7dde0cf95e10be644a85ed94d1a6ca6b430a752
Due: none

chore(release): 4.10.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore: remove Postman collection file
  postman-collection.json
Due: prettier --write

fix(news): prevent default escape key behavior in loading indicator
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a68386082ef19ff0071770dfd80b9b76e5868d84
Due: none

chore: handle null content after readability run
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.10.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  de5992b257f5a82922363588bbc6756a0591bf28
Due: none

fix(styles): improve scrollbar styling for light and dark modes
  src/app.scss
Due: prettier --write

chore(release): 4.10.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3624e6f4abbe7708856fd8666371c9a26e8e287c
Due: none

chore(release): 4.10.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3dabf0d769e52c5542484320f51d6204d1a53f9a
Due: none

chore(release): 4.10.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c70bb6abecf06e1cc32ec97fcff67da7ad93bf5a
Due: none

fix(StoryImageViewer): hide info button on touch devices
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  37210ab4642e60c1a0286f831d779a50a9601274
Due: none

fix: simplify image handling and remove unused srcset property from StoryImage interface
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/models/story.ts
  src/stories/content/StoryImageViewerView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
