Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.16.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e65951b5a2b68c24ca6c25a164c74af3f706c27f
Due: none

feat: add color scheme toggle to header
  src/lib/components/settings/appearance/Appearance.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/stores/styles.ts
Due: prettier --write, eslint --fix

fix: use stricter typing for radio controls
  src/lib/components/settings/appearance/Appearance.svelte
  src/lib/components/shared/controls/Radio.svelte
Due: prettier --write, eslint --fix

fix: remove obsolete bind
  src/lib/components/settings/appearance/Appearance.svelte
Due: prettier --write, eslint --fix

fix: fix reactivity of color scheme toggle button
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/runes/effectiveColorScheme.svelte.ts
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
  src/lib/stores/styles.ts
Due: prettier --write, eslint --fix

fix: only show color scheme toggle for larger screens
  src/lib/components/shared/content/Header.svelte
Due: prettier --write, eslint --fix

refactor: improve types
  src/lib/stores/runes/effectiveColorScheme.svelte.ts
Due: prettier --write, eslint --fix

refactor: improve radio types
  src/lib/components/shared/controls/Radio.svelte
Due: prettier --write, eslint --fix

fix: optimize import
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/stores/runes/effectiveColorScheme.svelte.ts
Due: prettier --write, eslint --fix

fix: avoid toggle button flicker
  src/lib/components/shared/content/Header.svelte
Due: prettier --write, eslint --fix

feat: add color scheme toggle to header (#226)
  src/lib/components/settings/appearance/Appearance.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/components/shared/controls/Radio.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/runes/effectiveColorScheme.svelte.ts
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
  src/lib/stores/styles.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e174831d534920949daa637e3c250c9f9819bc1
Due: none

chore(release): 4.16.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0e3d2cb0ef9a26c76b9d89b062d501f0f68d7fa4
Due: none

chore(deps): update storybook packages
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.16.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b101290f3cf9d4d7165bcdd42fa33c08dd53d340
Due: none

chore(release): 4.16.0-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80de2c9c1d75191c60194776403c1d1e446d2932
Due: none

chore(release): 4.16.0-next.18 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ced156a6cb976913452bf000c1bbe0e012cbe898
Due: none

chore(release): 4.16.0-next.19 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a02d35f46fca9dbc9eeef5828ff5521f020cdf49
Due: none

fix: enable explicit env vars
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/init.ts
  src/lib/components/news/filter/BookmarkActions.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/developer/Developer.svelte
  src/lib/components/settings/info/Info.svelte
  src/lib/components/shared/app/EnableAnalytics.svelte
  src/lib/components/shared/app/EnableDarkMode.svelte
  src/lib/configs/server.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
  src/lib/utils/notifications.ts
  src/lib/utils/support.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix: remove db url fallback as env var is required
  src/lib/backend/db/init.ts
  src/lib/configs/server.ts
Due: prettier --write, eslint --fix

fix: enable explicit env vars (#233)
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/init.ts
  src/lib/components/news/filter/BookmarkActions.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/developer/Developer.svelte
  src/lib/components/settings/info/Info.svelte
  src/lib/components/shared/app/EnableAnalytics.svelte
  src/lib/components/shared/app/EnableDarkMode.svelte
  src/lib/configs/server.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
  src/lib/utils/notifications.ts
  src/lib/utils/support.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.20 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95f139e6850124742d33017feb65648d02c4fbfe
Due: none

fix: fix formatting
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.21 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a051e0e35cf58808f0caf097a23bae6a215e3926
Due: none

chore(deps): update openai patch
  patches/openai+6.45.0.patch
Due: none

chore(release): 4.16.0-next.22 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d2a9ff5a1d6b34b14e8c74734a2b69759100aa8
Due: none

fix(ai): improve error messages
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.23 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5082fb0ab28e1cfe9b8131068ce6e7b5b0d34540
Due: none

chore(release): 4.16.0-next.24 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
