Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  78c32cf6dcf43b31c684029dbf54f5bf66dfb47a
Due: none

fix(story): adjust subtitle layout
  src/lib/components/news/story/header/StoryHeader.svelte
  tests/mocks/news.mocks.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.25 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d07bb4296981b2e16fdc982b410d02b49f0f506b
Due: none

chore(release): 4.16.0-next.26 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5fe45b47843a6386e22af409be89a246c02c59b5
Due: none

chore(release): 4.16.0-next.27 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8131d4a1a7b3faa501064cdbd34fe15e4a2497ca
Due: none

fix: fix sonar issues
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.ts
  src/lib/stores/runes/accessibleTransition.svelte.ts
  src/lib/stores/runes/effectiveColorScheme.svelte.ts
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
  src/lib/utils/logger.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.28 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4cebc0906e742a05c4efb24ca3ae9467d5ed33ea
Due: none

fix(story): add support for image credit tags
  src/app.css
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.29 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3bce5d6ad86ff42a09356436aa14c75a635d1048
Due: none

chore(release): 4.16.0-next.30 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6c2eaa42f7e137a3380f0ceaa9473e8002dad293
Due: none

chore(deps): update openai patch
  patches/openai+6.48.0.patch
Due: none

feat(ai): update gemini models
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.31 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4af0a60d00c64172a989b593ec07ac9260602b7
Due: none

chore(release): 4.16.0-next.32 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bf33e383ec8f5dd0f63fa673d1a43503aae48431
Due: none

fix(env): update import
  src/env.ts
Due: prettier --write, eslint --fix

fix(story): adjust table styles
  src/app.css
Due: prettier --write

chore(release): 4.16.0-next.33 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f6057259dc23736f1a174bf9a147e01b5128baa
Due: none

ci: update actions
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

ci: update actions
  .github/workflows/test.yaml
Due: none

chore(deps): update openai patch
  patches/openai+6.49.0.patch
Due: none

ci: bump
  bump
Due: none

chore(release): 4.16.0-next.34 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1debd5155561587349d7d90f43b65b7285fb9320
Due: none

ci(redeploy): redeploy app
  .releaserc.json
Due: prettier --write

chore(release): 4.16.0-next.35 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  01206068f7362c164062e95eaddcec30c155683f
Due: none

chore(release): 4.16.0-next.36 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b30663e71b3d385f7f265f77a5572ef21057dae6
Due: none

chore(release): 4.16.0-next.37 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f70d28709d76e0bd8ea1208f06991e817fac81b
Due: none

chore(release): 4.16.0-next.38 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
