Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update news search test
  tests/pages/news.page.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ffdc1ce75d55b73ca59eb36c688af8b3d31527bd
Due: none

chore(release): 4.9.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.9.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bfc406a80fbf2e39404c7dc6e4a4d0f0a082f019
Due: none

chore: refactor generate-csp-script-hashes script
  scripts/generate-csp-script-hashes.js
Due: prettier --write, eslint --fix

ci: add csp hash check
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Due: none

fix: use new $app/state module
  src/lib/components/shared/content/Header.svelte
  src/routes/+error.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0388b84add526b22166aa569d31ee0d567515240
Due: none

chore: remove obsolete script
  Dockerfile
  package.json
  scripts/fix-jsdom.js
Due: prettier --write, eslint --fix

fix(settings): update app version info
  src/lib/components/settings/info/Info.svelte
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.3-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  63c0fa320224ad632fd06c8d6f4f4f6e81110fca
Due: none

fix(settings): handle undefined commit hash gracefully
  src/lib/components/settings/info/Info.svelte
  vite.config.ts
Due: prettier --write, eslint --fix

fix(settings): add confirmation dialogs for data reset actions
  src/lib/components/settings/developer/Developer.svelte
Due: prettier --write, eslint --fix

chore: simplify notify method signature
  src/lib/stores/newsEvents.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.3-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  429c5edfb34c0ede978b9cb787dffbf16586e593
Due: none

chore: simplify event store subscription method
  src/lib/stores/newsEvents.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6db10acfb1081b2f8bf64c22ad22a793bcfa8a1f
Due: none

chore(release): 4.9.4-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b17c0a3b3b172e89ee4bd1f6e4885b822cbb93da
Due: none

chore(deps): bump esbuild to version 0.25.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): add @eslint/js to dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.9.4-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31edd21a902ca81567119f5b512a066264ed819f
Due: none

chore(release): 4.9.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  074050bf2ce0089febfd025a8e6fadca12557d6e
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: update Svelte component iteration and key handling
  eslint.config.js
  src/lib/components/news/NewsListSkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Notifications.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.5-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bcc87076f9658666d4015267e22fb4be1ac2d9f7
Due: none

fix(news): improve StoryImageViewer component styling and class management
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.5-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e6cbbc7824770324383465930f17593de78aa76
Due: none

chore(deps): update Storybook and related dependencies to version 8.6.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  53a31599d4e13c24690f7c3bcfb4987441744d48
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
