Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

fix(news): improve type checks
  src/lib/backend/db/news.ts
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae9b5101285380feb2e5a8b2007f669f3866c757
Due: none

chore: remove olt eslint config
  src/.eslintrc.cjs
Due: none

fix: use modern sass compiler
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b44adc326ee37e26da49836f3d9f59bd00420311
Due: none

fix(news): optimize image viewer
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c3d556112219cebb243a9ff882b2465082ba0ec
Due: none

fix: use correct type
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore: adjust eslint ignore settings
  eslint.config.js
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  126b89a007595f9bbc726b7f310c59a166bfa3af
Due: none

fix(news): adjust image viewer button transparency
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2391ff95cf842a4f41a2d2019e2c2541bce62c30
Due: none

fix(news): use correct cursor style for images
  src/app.scss
Due: prettier --write

Notes added by 'git notes add'
  737be8394c69a1c6220bd46dafb99811ddbad7d1
Due: none

chore(release): 4.6.4-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(news): improve image viewer controls
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b8b41f5947b3dbac077be327e4d3a59ec96ad502
Due: none

chore(release): 4.6.4-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c69da13f4bb9a2d0282cbcec903143b0d3beed28
Due: none

chore(release): 4.6.4-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(news): improve image viewer keyboard navigation
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c734b384afe06942a0cb50078b7a74aed12f6ed
Due: none

ci: adjust automatic release notes generation
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.6.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2e9070ec005997dc2c06127f4047de0eae9042d3
Due: none

chore(release): 4.6.4-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6687b83bb18f4656b0183d480f8c80e31315a5e0
Due: none

chore(release): 4.6.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d0461ecb3de1d50b97fdff0c264ca660d87d47d8
Due: none

chore(release): 4.6.6-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1da38e6f8fdaf44408ef998601d0201e8426adaa
Due: none

fix: remove unused store initialized logs
  src/lib/stores/bookmarks.ts
  src/lib/stores/content.ts
  src/lib/stores/news.ts
  src/lib/stores/newsEvents.ts
  src/lib/stores/notifications.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.6-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
