Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  a9f81f6a70ec4fe7b36fd45411b287e9ec3e7ba5
Due: none

chore(release): 4.14.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7378360113335f2131971e566ac22fbb44500cc
Due: none

chore(release): 4.14.1-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a2ae8d5caeecb86048b4006cf641df246703505
Due: none

chore(release): 4.14.1-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c618129655a59e9b2a4ea4372eb4d7385c0ed18
Due: none

chore(release): 4.14.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7ff067c001f9013889e75e6ec3410307a26aae65
Due: none

chore(release): 4.14.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  afd9c65c4c12b7cdb4735f2ada89d11b84f39e92
Due: none

chore: update package-lock
  package-lock.json
Due: prettier --write

chore(deps): update glob
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d1ccfd40475afe4f6cffd88f31da778a428f7d3e
Due: none

fix(imageViewer): adjust shortcut table header
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.2-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d44f1560b82aaba6662c88cd4be1910602aded37
Due: none

chore(release): 4.14.2-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3fb8705193b6f8017c67e557222cc054dc612d9d
Due: none

chore(release): 4.14.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7bec821084bfcebbb10c80af5e82ff3db50620d6
Due: none

chore(release): 4.14.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79cbe6f1450c38cd23cbff4aa0320ac7b283534e
Due: none

chore(deps): update storybook
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4ecfe906e36d0fa38bcf1464807006d7dd9c71e
Due: none

chore(release): 4.14.3-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update mongodb to v7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update mongodb to v7 (#156)
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.3-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9256fe03bc845f3cae23c17cbe0818c0a9ac87fe
Due: none

chore(release): 4.14.3-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2f39cd24bece0976917a3109c06542fde382105b
Due: none

chore(release): 4.14.3-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  350de3745869017e2a2f581b5df542e313a43095
Due: none

chore(deps): update node to 24
  .github/dependabot.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update node to 24 (#159)
  .github/dependabot.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.3-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b7a66b410193084686049cbf2941e505a2c83c5d
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
