Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.15.0-next.33 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fa52c2682cbc96f562c42103faa1c13a93b7baba
Due: none

chore(release): 4.15.0-next.34 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a887e46e4e3597cb7185061527e270ad81c0e22e
Due: none

chore(release): 4.15.0-next.35 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bbf73fb63867e714d17574707f6643d69ef39481
Due: none

chore(release): 4.15.0-next.36 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29e5f5c7ba5b0f5ff5ca5e41948756c26f2c29c3
Due: none

fix(ai): update gemini-3.1-flash-lite model code and docs
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.37 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f8e28d53e98a488102487b6187877815ba8b74b
Due: none

chore(release): 4.15.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49a289c10d496b637ac1e3b414b57fedbb7f2aea
Due: none

fix(ai): update model doc refs
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  052e1c49d2b7404c445355b7befb5c6d6b9c1516
Due: none

chore(release): 4.15.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  479d9e7b370a8232e4faa516aa9cbc48845b4a6a
Due: none

chore(deps): remove obsolete version override
  package.json
Due: prettier --write

chore(deps): remove vite-plugin-devtools-json
  package-lock.json
  package.json
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7eac956ab54614dc27350c60b4e554c993143fb0
Due: none

chore(deps): remove uuid dependency
  package-lock.json
  package.json
  src/lib/api/news.ts
  src/lib/stores/notifications.ts
  src/lib/utils/uuid.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a3dae2e66785bcb1174f7f981605ed33c60689b
Due: none

chore(release): 4.15.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e80dbc5f31c69758cd5effc0af90d5edd4cef32f
Due: none

chore(deps): downgrade svelte to version 5.55.2
  .github/dependabot.yml
  package-lock.json
  package.json
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0ea89cbc430429834cb3962b8b94e39876e76435
Due: none

chore(release): 4.15.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bd139874c46b7e9d5fe7e16f7cb69814241d4181
Due: none

feat: enable svelte async mode
  .github/dependabot.yml
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryContent.svelte
  svelte.config.js
Due: prettier --write, eslint --fix

fix(transition): adjust transition store props binding
  src/lib/components/shared/transitions/AccessibleTransition.svelte
Due: prettier --write, eslint --fix

fix(transition): remove unnecessary props binding
  src/lib/components/shared/transitions/AccessibleTransition.svelte
Due: prettier --write, eslint --fix

fix(transition): improve accessible transition store
  src/lib/components/news/story/Story.svelte
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/accessibleTransition.svelte.ts
  src/lib/utils/transitions.ts
Due: prettier --write, eslint --fix

test: add uncaught error check
  tests/fixtures.ts
  tests/pages/webError.page.ts
Due: prettier --write, eslint --fix

feat: enable svelte async mode (#218)
  .github/dependabot.yml
  package-lock.json
  package.json
  src/lib/components/news/story/Story.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/accessibleTransition.svelte.ts
  src/lib/utils/transitions.ts
  svelte.config.js
  tests/fixtures.ts
  tests/pages/webError.page.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4158f0d1f29ae762de5a6b4190a59680e8e6b109
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
