Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 5.0.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  747ef2a2e8e386d27a1108d2074259c1c390e308
Due: none

chore(release): 5.0.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3b63359ecedc231078f25164fd8637d0efb304d1
Due: none

chore(release): 5.0.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5beaa565e8420bfe43d96e0b0c6094e42bb3292d
Due: none

feat: add semantic search
  .env
  src/env.ts
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/search/embedding.spec.ts
  src/lib/backend/search/embedding.ts
  src/lib/backend/search/keyword.ts
  src/lib/backend/search/news.ts
  src/lib/backend/search/semantic.ts
  src/lib/backend/search/shared.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/configs/server.ts
  src/lib/configs/shared.ts
  src/lib/errors/errors.ts
  src/lib/models/embedding.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/searchRequest.ts
  src/lib/stores/news.spec.ts
  src/lib/stores/news.ts
  src/lib/stores/runes/info.svelte.ts
  tests/mocks/news.mocks.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix: fix sonar issue
  src/lib/backend/search/keyword.ts
Due: prettier --write, eslint --fix

fix: fix issues
  src/lib/backend/search/embedding.ts
  src/lib/backend/search/keyword.ts
  src/lib/backend/search/semantic.ts
  src/lib/backend/search/shared.spec.ts
  src/lib/backend/search/shared.ts
  src/lib/configs/server.ts
Due: prettier --write, eslint --fix

feat(news): add semantic search mode (#258)
  .env
  src/env.ts
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/search/embedding.spec.ts
  src/lib/backend/search/embedding.ts
  src/lib/backend/search/keyword.ts
  src/lib/backend/search/news.ts
  src/lib/backend/search/semantic.ts
  src/lib/backend/search/shared.spec.ts
  src/lib/backend/search/shared.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/configs/server.ts
  src/lib/configs/shared.ts
  src/lib/errors/errors.ts
  src/lib/models/embedding.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/searchRequest.ts
  src/lib/stores/news.spec.ts
  src/lib/stores/news.ts
  src/lib/stores/runes/info.svelte.ts
  tests/mocks/news.mocks.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49a90ef5c01a611a4ae7f5bdf5f84dd2cfbec709
Due: none

fix(story): add article title fallback
  src/lib/components/news/story/header/StoryHeader.svelte
  src/lib/models/story.ts
  src/lib/stores/bookmarks.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cc3dc9d5bdea928a3442d57e0c8149a191bf989a
Due: none

chore(release): 5.0.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b84ac0cba8cea376f8dd101026a1da66eaa7f351
Due: none

chore(release): 5.0.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0851fa5b5be118ee0851b2b6bb8d3846ca87b5e3
Due: none

fix(image): adjust image max width
  src/app.css
Due: prettier --write

chore(release): 5.0.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  803fd35b50e4f0cea47d8d1c9d15e90ada461a88
Due: none

chore: use baseline 2024 for browserslist
  package.json
Due: prettier --write

chore(release): 5.0.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  825c18ba70b64c721eeabb5a7c90c85a8abf82fa
Due: none

chore(release): 5.0.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4e1ccfd1761dace816aff167284855093b5447fc
Due: none

feat(ai): add latest gemini models
  src/lib/configs/client.ts
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d391b89fda1190028195422a5bef251f5d51ddc1
Due: none

feat: use shared module
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .gitmodules
  README.md
  eslint.config.js
  src/lib/backend/search/embedding.ts
  src/lib/backend/search/semantic.ts
  src/lib/configs/server.ts
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

feat: add multi db support
  .env
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/database.spec.ts
  src/lib/backend/db/database.ts
  src/lib/backend/db/init.ts
  src/lib/backend/search/keyword.spec.ts
  src/lib/backend/search/keyword.ts
  src/lib/backend/search/news.ts
  src/lib/backend/search/semantic.ts
  src/lib/backend/search/shared.ts
  src/lib/backend/trpc/router.ts
  src/lib/configs/server.ts
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

fix: add mongodb operation timeout
  src/lib/configs/server.ts
Due: prettier --write, eslint --fix

ci: harden workflows
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
Due: none

feat: multi db target mode (#267)
  .env
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .gitmodules
  README.md
  eslint.config.js
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/database.spec.ts
  src/lib/backend/db/database.ts
  src/lib/backend/db/init.ts
  src/lib/backend/search/embedding.ts
  src/lib/backend/search/keyword.spec.ts
  src/lib/backend/search/keyword.ts
  src/lib/backend/search/news.ts
  src/lib/backend/search/semantic.ts
  src/lib/backend/search/shared.ts
  src/lib/backend/trpc/router.ts
  src/lib/configs/server.ts
  src/lib/errors/errors.ts
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4224037c39a597f3f57341ecff00dff677245ef
Due: none

chore(deps): upgrade to vitest v5
  package-lock.json
  package.json
  src/lib/backend/content/fetch.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/search/embedding.ts
  src/lib/services/ai/ai.spec.ts
  src/lib/services/ai/ai.ts
  src/lib/services/ai/gemini/geminiLanguageModel.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3575a129fc43713a7ee954a32ef1d51004385425
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
