Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(api): migrate to new API structure using tRPC and zod
  package-lock.json
  package.json
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/api/trpc.ts
  src/lib/backend/content/news.ts
  src/lib/backend/db/news.ts
  src/lib/backend/trpc/context.ts
  src/lib/backend/trpc/init.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/configs/server.ts
  src/lib/configs/shared.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/pageKey.ts
  src/lib/models/searchRequest.ts
  src/lib/models/story.ts
  src/lib/stores/news.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  src/lib/utils/searchRequest.ts
  src/lib/utils/urls.ts
  src/routes/api/info/+server.ts
  src/routes/api/news/content/+server.ts
  src/routes/api/news/search/+server.ts
  src/routes/api/news/search/updates/+server.ts
  src/routes/api/trpc/[...procedure]/+server.ts
Due: prettier --write, eslint --fix

fix(news): enhance date parsing to handle invalid date strings
  src/lib/backend/db/news.ts
Due: prettier --write, eslint --fix

refactor(api): update test mocks
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
Due: prettier --write, eslint --fix

chore: remove debug log
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

fix(news): improve error handling in StoryContent component
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

chore: remove debug log
  tests/pages/news.page.ts
Due: prettier --write, eslint --fix

chore: clarify type requirement for isBookmarked and isViewed fields
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

fix: enforce URL format validation in StorySource schema
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

fix(api): update service worker route configurations to align with new tRPC endpoints
  src/service-worker.ts
Due: prettier --write, eslint --fix

refactor(api): make createTrpc behave like a singleton
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/api/trpc.ts
Due: prettier --write, eslint --fix

fix(api): update createTRPC to assign and return the client instance
  src/lib/api/trpc.ts
Due: prettier --write, eslint --fix

refactor(api): simplify request handling in NewsApi by introducing makeRequest method
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

refactor(api): make request helper private
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

feat(api): migrate api using tRPC and zod (#81)
  package-lock.json
  package.json
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/api/trpc.ts
  src/lib/backend/content/news.ts
  src/lib/backend/db/news.ts
  src/lib/backend/trpc/context.ts
  src/lib/backend/trpc/init.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Header.svelte
  src/lib/configs/server.ts
  src/lib/configs/shared.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/pageKey.ts
  src/lib/models/searchRequest.ts
  src/lib/models/story.ts
  src/lib/stores/news.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  src/lib/utils/searchRequest.ts
  src/lib/utils/urls.ts
  src/routes/api/info/+server.ts
  src/routes/api/news/content/+server.ts
  src/routes/api/news/search/+server.ts
  src/routes/api/news/search/updates/+server.ts
  src/routes/api/trpc/[...procedure]/+server.ts
  src/service-worker.ts
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4df35066d656cd2cab1a9068dfe5c72be6da1fa3
Due: none

fix: improve error handling for API version check
  src/lib/components/shared/app/AppLayout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7853911f0c923fca35427d8d6f797fd40ac00044
Due: none

chore(release): 4.10.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47d8537c786d9cde67e79c8dd96710ab94217aef
Due: none

chore(release): 4.11.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c2afd4367908703733cb263270f7cecf5387f59
Due: none

fix: revert improve error handling for API version check
  src/lib/components/shared/app/AppLayout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f1514b43849bc775068690a096204fa8f157b1b
Due: none

chore(release): 4.10.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c8d81f1e8f33cc98de4adb8dc4e7211380ea8a69
Due: none

fix(serviceWorker): adjust fallback response to match new tRPC format
  src/service-worker.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  44f95914088e00cb3215558df0bc6751256fbfa7
Due: none

chore(release): 4.11.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9390814b219141677eb3141adfc221faf0a3a96c
Due: none

fix(api): improve news api types
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1feb38e089f099494eee139a1015c8fb201468d8
Due: none

fix(api): refactor retry handling
  playwright.config.ts
  src/lib/api/news.ts
  src/lib/api/trpc.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/configs/client.ts
  src/lib/models/request.ts
  src/lib/stores/news.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
