Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  bda7885c9cb6855189bf3c7989a6aa4e328c0ea2
Due: none

chore(release): 4.10.2-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e4a5fd597f22cc704d985a150d09245ad68497f
Due: none

chore(release): 4.10.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  39f67474221b6e0b67eccc5119d89b358f67528e
Due: none

fix(story): update header class handling for sticky behavior
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7fba8105557ea724aeb62a11c5d8300b7bda2f81
Due: none

chore(deps): downgrade @mozilla/readability from 0.6.0 to 0.5.0
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.10.3-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b38d0678083dcc2a6c0d01ca62d0571c410d3a7f
Due: none

fix(story): revert header sticky handling
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.3-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52252c6684ca28685f9301906bfb47589efa422d
Due: none

chore(release): 4.10.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c7c66bf930837176961c96ca5cde17c9bf2e4ba
Due: none

Notes added by 'git notes add'
  65317b1707328d78ecbfbca6aedd2168eba6d362
Due: none

chore(release): 4.10.4-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: use svelte-portal for popover content to append content to body
  package-lock.json
  package.json
  src/lib/components/shared/content/Popover.svelte
Due: prettier --write, eslint --fix

fix(story): adjust header sticky behavior
  src/lib/components/news/story/Story.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.4-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  19c7d958298068a3e50afdcc4b2bd715cac7d893
Due: none

fix: add appendTo prop for Popover component
  src/lib/components/news/filter/BookmarkDeletePopover.svelte
  src/lib/components/news/filter/NewsFilterPopover.svelte
  src/lib/components/news/story/header/options/StoryPopover.svelte
  src/lib/components/shared/content/Popover.svelte
Due: prettier --write, eslint --fix

chore(release): 4.10.4-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4cf9135c232b69fc9aac66fff6098951fcc98ff
Due: none

chore(release): 4.10.4-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  94d01f3518ce229081137c41a7657fdb486f3b38
Due: none

chore(release): 4.10.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee099b4e2a1485cfa50250c44e7d58c61f4cde19
Due: none

fix(audio): ensure headers end with a period in speech synthesis text extraction
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.10.5-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47763d733ef7eafa1f1cb88b5fe30e89d7edeb71
Due: none

Notes added by 'git notes add'
  14b365a60dd0640af92e221ed0bce51e90cab1a9
Due: none

chore(release): 4.10.5-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(icon): update favicon
  static/images/icon.svg
Due: none

chore(release): 4.10.5-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1e8ff1655846baaf6e4abb04421a13650f377e86
Due: none

Notes added by 'git notes add'
  d208ccd8d015f8157cd3b83a513ebc83384e2b60
Due: none

chore(release): 4.10.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(api): setup trpc
  package-lock.json
  package.json
  src/lib/api/info.ts
  src/lib/api/trpc.ts
  src/lib/backend/trpc/init.ts
  src/lib/backend/trpc/router.ts
  src/routes/api/trpc/[...procedure]/+server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
