Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: remove unnecessary vite config
  vite.config.ts
Due: prettier --write, eslint --fix

fix: adjust console logs
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

fix: update audio store logs
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

fix(settings): reorder sections
  src/lib/components/settings/Settings.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee743624537b976c8424a222f0767e8dbe9600ec
Due: none

feat: add custom date picker
  src/hooks.client.ts
  src/lib/components/news/filter/BookmarkActions.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/filter/NewsFilterPopover.svelte
  src/lib/components/shared/content/Popover.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Input.svelte
  src/stories/controls/DatePicker.stories.js
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb4056a55b403edbfd7d4e2ae8c3b28efef4d011
Due: none

fix(news): add reset all filters option if no news are shown
  src/lib/components/news/News.svelte
  src/lib/stores/searchFilter.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ff0adc8bbc227c8a988d925a988c21d382f49c5f
Due: none

chore(release): 4.9.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(news): remove video nodes before creating reading optimized document
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b618ca1e9781f6f3ea2166c150f16405fd29d2fc
Due: none

fix: update screenshots
  src/assets/manifest.ts
  static/screenshots/desktop_bookmarks_content_open.png
  static/screenshots/desktop_news_list.png
  static/screenshots/desktop_news_menu_open.png
  static/screenshots/desktop_settings.png
  static/screenshots/mobile_bookmarks_content_open.png
  static/screenshots/mobile_news_content_open.png
  static/screenshots/mobile_news_list.png
  static/screenshots/mobile_news_menu_open.png
  static/screenshots/mobile_settings.png
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb1ba452f422b2ffa4a2edd0fabcf1442d9e7703
Due: none

fix: adjust popover placement behavior
  src/lib/components/shared/content/Popover.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9d15d6d9a3bd05616ba21f4a90f3eed36fd62068
Due: none

fix(news): use correct timestamps for date filter
  src/lib/components/news/filter/NewsFilterPopover.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1f15764ca8c86ab38552c4fdc8c18b5806f29cab
Due: none

fix(news): adjust filter timestamps if resetting on update
  src/lib/stores/searchFilter.ts
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b52d31d38f98cd484670c6a092ec4025a1379026
Due: none

chore: fix svelte-ignore comments
  src/lib/components/news/story/Story.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

fix: fix date-picker event handling
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/components/shared/controls/Input.svelte
Due: prettier --write, eslint --fix

chore(release): 4.9.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3020ba8b2fee5a8d402e30f32f6478e20fa108c8
Due: none

chore(release): 4.9.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9acbebe7b6b0c46d44b4c58b057dbbba1e674a58
Due: none

feat(news): add panzoom functionality to image viewer
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/panzoomLoader.ts
  src/lib/utils/webApiSupport.ts
Due: prettier --write, eslint --fix

fix: adjust wheel zoom speed for macos devices
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/support.ts
  src/lib/utils/webApiSupport.ts
Due: prettier --write, eslint --fix

fix: optimize pan behavior
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/utils/dynamicModuleLoader.ts
  src/lib/utils/panzoomLoader.ts
  src/lib/utils/panzoomModule.ts
Due: prettier --write, eslint --fix

fix: optimize panzoom behavior
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

fix: fix code smells
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/utils/support.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
