Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore(release): 4.7.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  559234368885c5b70c8ad74f633c4a42f01c470b
Due: none

feat: add skeleton fly animation style with example story
  src/app.scss
  src/stories/loading/Skeleton.stories.js
  src/stories/loading/SkeletonView.svelte
Due: prettier --write, eslint --fix

feat: use new skeleton animation
  src/app.scss
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/ui/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
  src/lib/utils/transitions.ts
  src/stories/content/NewsList.stories.js
  src/stories/content/NewsListView.svelte
Due: prettier --write, eslint --fix

chore: fix code smells
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/stores/runes/reducedMotion.svelte.ts
Due: prettier --write, eslint --fix

feat(news): add new skeleton loading animation (#50)
  src/app.scss
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
  src/lib/components/ui/transitions/AccessibleTransition.svelte
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
  src/lib/utils/transitions.ts
  src/stories/content/NewsList.stories.js
  src/stories/content/NewsListView.svelte
  src/stories/loading/Skeleton.stories.js
  src/stories/loading/SkeletonView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.7.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  551de4c56d5555e869c0818da3a774899a46ceeb
Due: none

fix(news): improve error view if news fetching failed
  src/lib/components/news/News.svelte
  src/lib/components/ui/icons/outline/ExclamationTriangleIcon.svelte
  src/lib/components/ui/icons/outline/InformationCircleIcon.svelte
  tests/pages/news.page.ts
Due: prettier --write, eslint --fix

chore(release): 4.7.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ec3c9e9a06010a715c1d45dd10447175f847127a
Due: none

chore: refactor stories
  src/stories/loading/indicators/ConicGradientSpinner.stories.js
  src/stories/loading/indicators/SpinningDotsLoadingIndicator.stories.js
  src/stories/loading/indicators/SpinningDotsLoadingIndicatorView.svelte
  src/stories/loading/indicators/ThreeDotsLoadingIndicator.stories.js
  src/stories/loading/skeleton/Skeleton.stories.js
  src/stories/loading/skeleton/SkeletonView.svelte
  src/stories/loading/skeleton/StoryContentSkeleton.stories.js
  src/stories/loading/skeleton/StorySkeleton.stories.js
Due: prettier --write, eslint --fix

fix(news): adjust story content skeleton layout
  src/lib/components/news/story/content/StoryContentSkeleton.svelte
Due: prettier --write, eslint --fix

chore(release): 4.7.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eed1f58cf739a88ce400c375a73f948ad83e701c
Due: none

chore(release): 4.7.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c021d38e1bbe854282341b74dc4a73fb7a33632
Due: none

chore(release): 4.7.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dc3ba1760a75efc01ffd9f37752761ba358a309a
Due: none

chore(release): 4.7.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  619fa54d7af7d4fbe875baf50e48f3fd569b7601
Due: none

feat(news): show in-app notification when link is copied
  src/lib/components/news/story/header/options/ShareButton.svelte
  src/lib/configs/client.ts
  src/lib/models/notifications.ts
  src/lib/stores/notifications.ts
Due: prettier --write, eslint --fix

chore(release): 4.8.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  504449b352d2bc0184867f6dd70e1fea8bdabab2
Due: none

feat(news): show in-app notification when bookmark is added/removed
  src/lib/components/news/story/header/options/BookmarkButton.svelte
  src/lib/configs/client.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c9bf81f8e352cd18b1d6f4b20678ea4cc652cc89
Due: none

chore(release): 4.8.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  88976fd224a7784970549c01b68359f30b8d5afb
Due: none

chore(release): 4.8.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

ci: bump
  bump
Due: none

chore(release): 4.8.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d26a3ac415c1536e1a3eb51b739f11870002ef57
Due: none

feat(news): add text to speech synthesis for articles
  package-lock.json
  package.json
  src/lib/backend/content/news.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/ui/content/AudioPlayer.svelte
  src/lib/components/ui/controls/button.styles.ts
  src/lib/components/ui/icons/outline/ArrowUturnLeftIcon.svelte
  src/lib/components/ui/icons/outline/ArrowsPointingOutIcon.svelte
  src/lib/components/ui/icons/outline/MinusIcon.svelte
  src/lib/components/ui/icons/outline/PauseCircleIcon.svelte
  src/lib/components/ui/icons/outline/PauseIcon.svelte
  src/lib/components/ui/icons/outline/PlayCircleIcon.svelte
  src/lib/components/ui/icons/outline/PlayIcon.svelte
  src/lib/components/ui/icons/outline/SpeakerWaveIcon.svelte
  src/lib/components/ui/icons/outline/SpeakerXMarkIcon.svelte
  src/lib/components/ui/icons/solid/PauseIcon.svelte
  src/lib/components/ui/icons/solid/PlayIcon.svelte
  src/lib/components/ui/transitions/AccessibleTransition.svelte
  src/lib/configs/shared.ts
  src/lib/models/story.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/web-api-support.ts
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

fix(news): adjust audio player layout
  src/lib/components/ui/content/AudioPlayer.svelte
Due: prettier --write, eslint --fix

feat(news): add audio voice select
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/components/ui/controls/Input.svelte
  src/lib/components/ui/controls/Select.svelte
  src/lib/models/settings.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/settings.ts
  src/stories/controls/Select.stories.js
  src/stories/controls/SelectView.svelte
Due: prettier --write, eslint --fix

fix(settings): only show audio config if available
  src/lib/components/settings/Settings.svelte
Due: prettier --write, eslint --fix

refactor: convert class-based stores to functional style
  src/lib/stores/runes/reducedMotion.svelte.ts
  src/lib/stores/runes/skeleton.svelte.ts
Due: prettier --write, eslint --fix

fix(news): adjust text extraction
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix
