Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore(release): 4.14.4-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6736457d510c0ca59233f2b6b5cfa44df75718ab
Due: none

chore(release): 4.14.4-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6149dc15526695a9decd8e3a0104eea0a91e8ed6
Due: none

chore(release): 4.14.4-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0088a876cbd15a3dc4914d808718abb8eaf1d32f
Due: none

chore(release): 4.14.4-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b365ee9548853452d875d9e8b9cf576499de61f
Due: none

chore(release): 4.14.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83b99391b911b6d2891cc02e5aaf5d85fce1f353
Due: none

chore(release): 4.14.5-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d44124414044068819a2f2443333298aa7baefc9
Due: none

chore(release): 4.14.5-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20acf46a464f7f5f16d29202778deebd2f95cf1d
Due: none

fix(story): remove duplicated byline
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

fix(story): adjust tv notice styles
  src/app.css
Due: prettier --write

chore(release): 4.14.5-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aa17cc21ab71a8e65c58d369e411aa4e7646ff6e
Due: none

Notes added by 'git notes add'
  925901fb4badcf601534509acfbb8dd2cadfcd7b
Due: none

chore(release): 4.14.5-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.5-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10f3013c5f6a0fbf8c3a4ae6153435c3153ad07e
Due: none

chore(release): 4.14.5-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c69b444bf581a31f6e37c3da5e16716671cd476d
Due: none

chore(deps): bump packages
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate-csp-script-hashes.js
  src/lib/api/news.ts
  src/lib/utils/computeScrollIntoView.ts
Due: prettier --write, eslint --fix

chore(deps): bump packages
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update lock file
  package-lock.json
Due: prettier --write

chore(deps): update packages (#183)
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate-csp-script-hashes.js
  src/lib/api/news.ts
  src/lib/utils/computeScrollIntoView.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.5-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08325c2a00cc143ee7daf03fb62867c595da8a55
Due: none

chore(release): 4.14.5-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b70bfaea5cb19e8bf3583469df72808e74f803fd
Due: none

chore(release): 4.14.5-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  daf46c41ff8688d91f2f679459be8bd1339947af
Due: none

fix: use correct type for timeout vars
  src/lib/components/news/News.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/shared/loading/SpinningDotsIndicator.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.5-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a957014f4016a7a67c5a0889869f14912f650e8d
Due: none

fix: fix svelte check warnings
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/shared/content/AlertBox.svelte
  src/lib/components/shared/content/Item.svelte
  src/lib/components/shared/content/Popover.svelte
  src/lib/components/shared/content/Section.svelte
  src/lib/components/shared/content/SectionList.svelte
  src/lib/components/shared/content/TextGradient.svelte
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/components/shared/loading/ConicGradientSpinner.svelte
  src/lib/components/shared/loading/LoadingIndicator.svelte
  src/lib/components/shared/loading/SpinningDotsIndicator.svelte
  src/lib/components/shared/loading/ThreeDotsLoadingIndicator.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/stories/controls/RadioView.svelte
  src/stories/loading/indicators/ConicGradientSpinner.stories.js
  src/stories/loading/indicators/ThreeDotsLoadingIndicator.stories.js
Due: prettier --write, eslint --fix

feat(ai): update gemini models
  src/lib/configs/client.ts
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix
