Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update packages
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.16.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e7179b2e1b757c6d03cfc7488dec7e8df5bf773
Due: none

feat(ai): update default AI model to Gemini 3.5 Flash and adjust related configs
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  39e9431ab5ec5daa629376709aac79b46f20d320
Due: none

chore(release): 4.16.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90b903f0962a050fa2a46760b487e9e415c5965d
Due: none

fix(storybook): fix storybook setup to support async mode
  .storybook/StorybookStoreDecorator.svelte
  .storybook/preview.js
  eslint.config.js
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69f19286ce253bd4967a7e85a0195f14813ad7f7
Due: none

fix: refactor accessible transition
  src/lib/components/shared/transitions/AccessibleTransition.svelte
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2362aabcd69e66bb9daeb30c17fc6a0932a2a696
Due: none

feat(ai): improve ai error messages
  .prettierignore
  package-lock.json
  package.json
  patches/openai+6.39.1.patch
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/errors/errors.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(ai): do not retry on invalid request error
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(ai): add overloaded error case
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/errors/errors.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

feat(ai): improve ai error messages (#222)
  .prettierignore
  package-lock.json
  package.json
  patches/openai+6.39.1.patch
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/errors/errors.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1ec815490baa7ae7dddbf265dc0dfab009570be8
Due: none

fix: update svelte config
  eslint.config.js
  package-lock.json
  package.json
  svelte.config.js
  vite.config.ts
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

fix: enable explicit env vars
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/init.ts
  src/lib/components/news/filter/BookmarkActions.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/developer/Developer.svelte
  src/lib/components/settings/info/Info.svelte
  src/lib/components/shared/app/EnableAnalytics.svelte
  src/lib/components/shared/app/EnableDarkMode.svelte
  src/lib/configs/server.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
  src/lib/utils/notifications.ts
  src/lib/utils/support.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f7e0beb57d2db73a8421eda9ac972cc18c49042
Due: none

fix: revert enable explicit env vars
  src/env.ts
  src/hooks.server.ts
  src/lib/backend/db/init.ts
  src/lib/components/news/filter/BookmarkActions.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/developer/Developer.svelte
  src/lib/components/settings/info/Info.svelte
  src/lib/components/shared/app/EnableAnalytics.svelte
  src/lib/components/shared/app/EnableDarkMode.svelte
  src/lib/configs/server.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
  src/lib/utils/notifications.ts
  src/lib/utils/support.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9aef9f136e5c2acc29cad4ccbe9c047df41ebe2c
Due: none

chore(release): 4.16.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3a90ead87fffe16a48acfa21099f965b44be1e38
Due: none

chore: update openai patch
  patches/openai+6.42.0.patch
Due: none

chore: remove old openai patch
  patches/openai+6.39.1.patch
Due: none

feat(search): add search match modes
  src/lib/backend/db/news.ts
  src/lib/models/searchRequest.ts
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85be6ce5dc84d4e620154042b66078957fd20a5f
Due: none

feat(search): add option to change match mode
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/models/searchRequest.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix(search): fix custom date filters
  src/lib/stores/searchFilter.ts
Due: prettier --write, eslint --fix

test(search): add temp filter test
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

feat(search): add option to change match mode (#224)
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/models/searchRequest.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0116665ac0c8974cb8c65e2b67e86472756b4d7d
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
