Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.14.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a030d5d556a1ced5d41f2bc974d9078da1341203
Due: none

ci: fix node setup for release job
  .github/workflows/ci.yaml
Due: none

chore(release): 4.14.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  064c72dd650610b4373f75b8dc9100d1d0050ba8
Due: none

ci: update used action versions
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

ci: adjust storybook workflow
  .github/workflows/storybook.yaml
Due: none

ci: adjust dep install
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

chore: adjust eslint config
  eslint.config.js
Due: prettier --write, eslint --fix

chore: fix generate csp script
  scripts/generate-csp-script-hashes.js
Due: prettier --write, eslint --fix

chore: fix app html
  csp-script-hashes.js
  src/app.html
Due: prettier --write, eslint --fix

chore: fix content service
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore: fix news db service
  src/lib/backend/db/news.ts
Due: prettier --write, eslint --fix

chore: fix news store
  src/lib/stores/news.ts
Due: prettier --write, eslint --fix

chore: fix focusTrap
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

chore: fix logger
  src/lib/utils/logger.ts
Due: prettier --write, eslint --fix

chore: fix notification utils
  src/lib/utils/notifications.ts
Due: prettier --write, eslint --fix

chore: fix platform utils
  src/lib/utils/platform.ts
Due: prettier --write, eslint --fix

chore: fix subscription utils
  src/lib/utils/subscriptions.ts
Due: prettier --write, eslint --fix

chore: fix support utils
  src/lib/utils/support.ts
Due: prettier --write, eslint --fix

chore: fix updateListener utils
  src/lib/utils/updateListener.ts
Due: prettier --write, eslint --fix

chore: fix viewTransition utils
  src/lib/utils/viewTransition.ts
Due: prettier --write, eslint --fix

chore: fix service worker
  src/service-worker.ts
Due: prettier --write, eslint --fix

chore: fix svelte config
  svelte.config.js
Due: prettier --write, eslint --fix

chore: fix news test
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore: fix vite config
  vite.config.ts
Due: prettier --write, eslint --fix

chore: fix generate csp hashes script
  scripts/generate-csp-script-hashes.js
Due: prettier --write, eslint --fix

fix: fix sonarqube issues
  csp-script-hashes.js
  eslint.config.js
  scripts/generate-csp-script-hashes.js
  src/app.html
  src/lib/backend/content/news.ts
  src/lib/backend/db/news.ts
  src/lib/stores/news.ts
  src/lib/utils/focusTrap.ts
  src/lib/utils/logger.ts
  src/lib/utils/notifications.ts
  src/lib/utils/platform.ts
  src/lib/utils/subscriptions.ts
  src/lib/utils/support.ts
  src/lib/utils/updateListener.ts
  src/lib/utils/viewTransition.ts
  src/service-worker.ts
  svelte.config.js
  tests/specs/news.spec.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  101fba3b529fb95364b48c914172dbd57b710333
Due: none

fix(content): refactor table transformer
  .github/workflows/ci.yaml
  package-lock.json
  package.json
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  vite.config.ts
  vite.storybook.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: adjust node version
  package.json
Due: prettier --write

chore: set test env
  vitest.config.ts
Due: prettier --write, eslint --fix

test: fix mock setup order
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

fix: add colspan handling
  .husky/pre-commit
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

test: add table test case
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

chore: update test scripts
  package.json
Due: prettier --write

test: refactor table tests
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

fix: add rowspan handling
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

test: add further test cases
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
