Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: check colspan and number of empty columns when removing cells
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

test: fix invalid mock
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

test: adjust prettier config
  src/lib/backend/content/news.spec.ts
Due: prettier --write, eslint --fix

fix(content): refactor table transformer (#139)
  .github/workflows/ci.yaml
  .husky/pre-commit
  package-lock.json
  package.json
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  vite.config.ts
  vite.storybook.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1cd567d1ea0626d774354100cf41ab4373d8da7c
Due: none

chore(deps): update node engine config
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0340b4a1d733137d31b0b2ccb30f5946646a5a3a
Due: none

chore(deps): revert jsdom to 27.0.0
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c50d9bc5e2f301369a2d8e150cd83b5a5316685
Due: none

chore(release): 4.14.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62ce1eeb1220359dde712b32f7b43c755e7db7f8
Due: none

chore(release): 4.14.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d37d6d4ba42d69f49ad68dee3ff8c4ddc3122155
Due: none

chore(release): 4.14.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3897c575bee609e67721ed57c731bec6af335f67
Due: none

fix: update lint settings
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/components/shared/controls/Link.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3b5f6a9ae1bb87fb626a366182c422b034561e95
Due: none

chore(deps): update commit lint
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update semantic release
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update storybook
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update vercel adapter
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update openai sdk
  package-lock.json
  package.json
Due: prettier --write

chore: setup semantic release commit signing
  .github/workflows/ci.yaml
Due: none

chore: fix potential security issue
  .github/workflows/ci.yaml
Due: none

chore: fix commit signing setup
  .github/workflows/ci.yaml
Due: none

chore(deps): update packages
  .github/workflows/ci.yaml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd83d8ec4b98db55086cb1d985ae06d94c8220e7
Due: none

chore(release): 4.14.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47d685af8e73b850c4475197a9b3eb0ed591f270
Due: none

chore(deps): update node engine
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  04f6c00800572f909ea068e3abdccdb58aacc63e
Due: none

fix(settings): prevent appearance settings skips
  src/lib/components/settings/appearance/Appearance.svelte
  src/lib/components/shared/controls/Radio.svelte
  src/lib/utils/viewTransition.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
