Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update packages
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.3-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b5be0d66cb890c5dd17a7955c9ab464f677de69e
Due: none

fix(notifications): disable pointer events for notifications container
  src/lib/components/shared/controls/Notification.svelte
  src/lib/components/shared/controls/Notifications.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.3-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  adea7a8d77f5b46f1e8ea1fc906522ba846988bd
Due: none

chore(release): 4.14.3-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cf82dc2ba94dae486d0785d76a93d56639a91ccf
Due: none

chore(release): 4.14.3-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3ad335a0f204878e1ad0c7ec0c805dc5d1edea97
Due: none

chore(release): 4.14.3-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bf47ba1fc339dc935c548317d616fbe30f8c6906
Due: none

chore(release): 4.14.3-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  185d3dc31e58462448130392ff76a2e04eaf62dc
Due: none

chore(deps): add package manager version
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.3-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a92031427d3e6e921dc5fb7646dcf4db5defe8da
Due: none

fix(audio): refactor audio store init
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.3-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1c90b9432ef14c7067dfa5ac35ac8d1f9e5fb9d8
Due: none

chore(release): 4.14.3-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b94470664aa6152804f2a305b3116f3aabd4dfbd
Due: none

chore(release): 4.14.3-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  51b1cfafb50b8f9474a073f4a52187406386c0fd
Due: none

chore(release): 4.14.3-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  012cb1ab2b0bf5395bf9521a929a3efccbe1f9a6
Due: none

chore(release): 4.14.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb9ba7d090cc0516ff719c6046869d7a0ed07438
Due: none

ci: update workflow permissions
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

fix(link): adjust link class calculation
  src/lib/components/shared/controls/Link.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.4-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aadb924240ce68e84cc9edde216d25a7e043b033
Due: none

chore(release): 4.14.4-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e49876bcf945d1ec71a890c2eedab5b7ca9b7a9
Due: none

Notes added by 'git notes add'
  4d73378efe5a1ab27126282190d43ade96d8f5fb
Due: none

chore(release): 4.14.4-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.4-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7fbf8ca3f62c2e6b42b4862e78585e9cceae6553
Due: none

chore(release): 4.14.4-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  713d598e076e3322c064b40f09ab82939826ee69
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
