Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

fix(story): remove unused skeleton component
  src/lib/components/news/story/content/StoryAiSummaryTextSkeleton.svelte
Due: prettier --write, eslint --fix

fix(story): adjust ai summary points key
  src/lib/components/news/story/content/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

feat(story): enhanced AI generated story summary (#89)
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
  src/lib/models/story.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  15f8e6a7339da7f04e9e02a1275bca081529a915
Due: none

chore(release): 4.11.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(modal): adjust scrollbar color for modal
  src/app.scss
Due: prettier --write

chore(release): 4.11.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  61c07eda1130bb5dd520117512e606f9feff9aa8
Due: none

fix(story): add request cancellation if modal is closed early
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bdd055104c79fa719194b030162813a1ee219ef8
Due: none

chore(deps): bump @trpc/client
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.11.0-next.18 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  835a91adccc6a8d4b2ff87238b0757baa19acb31
Due: none

feat(news): remove charts and replace with placeholders in fetched story content
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

refactor(story): reorganize story package
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
  src/stories/content/StoryImageViewerView.svelte
Due: prettier --write, eslint --fix

fix(story): adjust ai model link attributes
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.19 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  307bfc8cedf13d11f1772a19710c080be3279e59
Due: none

fix(story): adjust ai summary prompt
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

fix(story): adjust ai summary prompt (#91)
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b73e6867a30f10e6a92fc64f52e076d7e24666e1
Due: none

chore(release): 4.11.0-next.20 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(ai): disable thinking
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(story): enhance AI summary prompt for clarity and neutrality
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.21 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bac2ac7cfbda7bbcec430626d583b2742a5787e4
Due: none

fix(news): add list post-processing
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.22 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79369f0cc1bd5db6b023b2574ca8c15fbb384eb0
Due: none

chore(release): 4.11.0-next.23 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bff9b6e1b7d3c85a8744589154f7fd884e6999a1
Due: none

fix(ai): update AI service to use new model configuration and enhance summary generation logic
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
  src/lib/utils/ai.ts
Due: prettier --write, eslint --fix

fix(ai): add new AI model 'gemini-2.5-pro-exp-03-25'
  src/lib/configs/client.ts
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix

fix(story): update StoryAiSummarySkeleton styles for improved layout
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.24 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9cb348e588d998a7ef64c6c4a8d3de301e94d351
Due: none

fix(settings): add link for creating Gemini API-Key
  src/lib/components/settings/ai/AI.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.25 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e3a7f242402e8c5bad3ffcb890a9bc9d4f658dcf
Due: none
