Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore(release): 4.15.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3211a727f6903fae96bfdf87b12bb88224d6185e
Due: none

feat(search): add filter tags
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/filter/NewsFilterOtherPopover.svelte
  src/lib/components/news/filter/NewsFilterTagPopover.svelte
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

test: remove wait
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

feat(search): add filter tags (#198)
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/filter/NewsFilterOtherPopover.svelte
  src/lib/components/news/filter/NewsFilterTagPopover.svelte
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e52ece441370c5adde59cca082085920922ba68b
Due: none

chore(release): 4.15.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat(search): improve filter tag handling
  package-lock.json
  package.json
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/shared/controls/Button.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  src/lib/stores/settings.ts
  src/stories/controls/Input.stories.js
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix(search): fix potential race condition
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

fix(input): focus input on tag removal
  src/lib/components/shared/controls/Input.svelte
Due: prettier --write, eslint --fix

fix(search): fix resetAll
  src/lib/stores/searchFilter.ts
Due: prettier --write, eslint --fix

fix(search): add title for tag removal button
  src/lib/components/shared/controls/Input.svelte
Due: prettier --write, eslint --fix

fix(search): fix date comparison
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

fix(search): improve fetch news handling
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

fix(search): improve search request handling
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

fix(search): fix retry fetch
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

fix(search): improve error handling
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

fix(search): improve source comparison
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

fix(search): improve error handling
  src/lib/api/news.ts
  src/lib/components/news/News.svelte
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

fix(search): improve abort error handling
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

fix(search): simplify abort error detection
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

fix(search): do not recreate NewsApiError
  src/lib/api/news.ts
Due: prettier --write, eslint --fix

refactor(api): use effect for generic request function
  src/lib/api/news.ts
  src/lib/components/news/News.svelte
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

fix(search): cleanup pending requests when news component is destroyed
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

feat(search): improve filter tag handling (#199)
  package-lock.json
  package.json
  src/lib/api/news.ts
  src/lib/components/news/News.svelte
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/shared/controls/Button.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/errors/errors.ts
  src/lib/stores/searchFilter.ts
  src/lib/stores/searchRequestParameters.ts
  src/lib/stores/settings.ts
  src/stories/controls/Input.stories.js
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d2bfedfe035a92135e6b70f8e4864c8f770b7c71
Due: none

chore(release): 4.15.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  57d42ad727e6481a9d085a62e01fb3ba914cbe15
Due: none

chore(deps): update packages
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update lock file
  package-lock.json
Due: prettier --write

chore(deps): add emnapi deps
  package-lock.json
  package.json
Due: prettier --write

chore: update npm version
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update packages (#200)
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.15.0-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ad09d2b70c6ff252f419c1fd34ba8ba3f2c4cc2
Due: none

chore(deps): add version update cooldown
  .github/dependabot.yml
Due: none

chore(release): 4.15.0-next.18 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e2bfda331653a75f3236845c7d6000a93204f46a
Due: none

chore(release): 4.15.0-next.19 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
