Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

ci: fix release workflow
  .github/workflows/release.yaml
Due: none

ci: enable prereleases on develop branch
  .github/workflows/release.yaml
  .releaserc.json
Due: prettier --write

fix: test prerelease pipeline
  test.txt
Due: none

ci: enable check workflow on develop branch
  .github/workflows/check.yaml
Due: none

ci: trigger build after release on develop
  scripts/trigger-new-build.js
Due: prettier --write, eslint --fix

ci: set correct branch for release workflow
  .github/workflows/release.yaml
Due: none

chore(release): 1.0.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90b46000f213fa1715d67abcac764260dfd7de53
Due: none

fix: set correct version
  package-lock.json
  package.json
Due: prettier --write

ci: refactor ci workflow
  .github/workflows/check.yaml
  .github/workflows/ci.yaml
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
Due: prettier --write

ci: set dependency for release step
  .github/workflows/ci.yaml
Due: none

fix: test release
  test.txt
Due: none

Notes added by 'git notes add'
  ea4aed764511f9bc860b815234050a85b0ac132f
Due: none

chore(release): 4.5.5-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: remove test file
  test.txt
Due: none

chore(release): 4.5.5-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7449828752a7265b317fdcb2f2c2092101a95f0a
Due: none

Cleanup release tests (#2)
  package-lock.json
  package.json
  test.txt
Due: prettier --write

fix: test ci workflow
  test.txt
Due: none

chore(release): 4.5.5-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  42e6a149983a331e5ea0f498b2ebc308a027fcc1
Due: none

fix: test ci workflow
  package-lock.json
  package.json
  test.txt
Due: prettier --write

fix: test workflow
  test.txt
Due: none

chore(release): 4.5.5-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0491f74b033a8cbd44cc99c3bc53c915c0a92281
Due: none

chore(release): 4.5.5-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b213556d2366100cd2497af16547e235afad53d
Due: none

fix: test workflow
  package-lock.json
  package.json
  test.txt
Due: prettier --write

chore(release): 4.5.5-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  06b3cc773611f6546ed2fdf5fbd98b2fa8681668
Due: none

chore(release): 4.5.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bcd30fcfc06d9623f4f1d19176c8858bfffb4cb9
Due: none

chore(deps): update package-lock.json
  package-lock.json
Due: prettier --write

chore(release): 4.5.6-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2eb986887a7fb5424b798bd538323627a17cce6a
Due: none

fix: adjust spacing
  src/lib/components/ui/content/Content.svelte
  src/lib/utils/styles.ts
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.5.6-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a794db4c130dfd92632d29353bfd67672ada1e89
Due: none
