Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

fix(news): optimize image viewer navigation for touch devices
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ee96e5528c51dbe5a82282cd8c8ae755289cf95
Due: none

chore: fix dockerfile issues
  Dockerfile
Due: none

chore(release): 4.6.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c00b8b9f50ef8255c8e8c2cde67497f3984ba3d2
Due: none

ci: run tests every day
  .github/workflows/test.yaml
Due: none

fix: adjust overlay loading indicator transition
  src/lib/components/ui/controls/Checkbox.svelte
  src/lib/components/ui/loading/SpinningDotsIndicator.svelte
  src/stories/loading/SpinningDotsLoadingIndicator.stories.js
  src/stories/loading/SpinningDotsLoadingIndicatorView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a4bcf24e247bfc23161b1667dd965f356597886
Due: none

chore(release): 4.6.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50fd4b6db437c38e23ab8c97596de08a989d432b
Due: none

Notes added by 'git notes add'
  68e9b5260d9c7774f92389693a5c4252cbdfd009
Due: none

chore(release): 4.6.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(news): adjust image viewer styles
  .storybook/main.js
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/stories/content/StoryImageViewer.stories.js
  src/stories/content/StoryImageViewerView.svelte
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f21886c8e7869afdc564987e93c4db67dfcc30fd
Due: none

fix: add api version check
  src/lib/api/info.ts
  src/lib/configs/client.ts
  src/lib/configs/shared.ts
  src/lib/models/info.ts
  src/routes/+layout.svelte
  src/routes/api/info/+server.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.3-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4d34513d63780c8bca12c1a3a15b01976fa0b77e
Due: none

chore(release): 4.6.3-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cc860a4a8160377c8cbfc2fa6f05c3f729ea338c
Due: none

fix: output warn message if api version cannot be determined, but don't block the ui
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.3-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2ee658602057f6c86dc530455717608608d953b3
Due: none

chore: cleanup storybook vite config
  vite.storybook.config.ts
Due: prettier --write, eslint --fix

fix: extend shortcuts for search
  src/lib/components/utils/EnableGlobalKeybindings.svelte
Due: prettier --write, eslint --fix

chore(release): 4.6.3-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7a891e662b691df8ecd8430c98d85c86a2d1a83c
Due: none

chore(release): 4.6.3-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b1952005464a0bd3096b3bf325f543db3953e981
Due: none

chore(release): 4.6.3-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e0fb367db0385230f757e75425c8947a9e8485b
Due: none

chore(release): 4.6.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  928d4f9f5cc8ff732bb7b4c6dfa19d87caf6c539
Due: none

chore(release): 4.6.4-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f5b015370a29727a189c4f7510ead35ba37eb37c
Due: none

fix(news): adjust cache settings for content
  src/lib/backend/content/news.ts
  src/lib/backend/db/news.ts
  src/lib/configs/server.ts
  src/lib/models/story.ts
  src/routes/api/news/content/+server.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.4-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  910fac64b72566eb0dbd82b8f58750bfc3ceecf4
Due: none
