Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore(release): 5.0.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  af1fc7d36d11fbc4ec2593a1bdd5c1bbfea07c8e
Due: none

chore(release): 5.0.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  673d6adfdfed8ae53cae68b253b66f3c215756ae
Due: none

fix: use safe area insets
  src/app.css
  src/app.html
  src/lib/components/news/story/Story.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Section.svelte
Due: prettier --write, eslint --fix

fix: add status bar cover to remove blurry top
  src/lib/components/shared/app/AppLayout.svelte
Due: prettier --write, eslint --fix

fix: set minimum safe area top
  src/app.css
Due: prettier --write

fix: remove status bar blurry overlap on iOS (#270)
  src/app.css
  src/app.html
  src/lib/components/news/story/Story.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/Section.svelte
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.17 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1d184771a1c1a35681098c1e8434c2a6d89df29a
Due: none
