Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  fe4583d5be360b1a3265ca52210d24b683d3ae6b
Due: none

feat(datePicker): add keyboard navigation support for day switching
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

fix(datePicker): enhance date selection logic
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

chore(storybook): fix svelte store setup within storybook context
  .storybook/preview.js
Due: prettier --write, eslint --fix

fix(popover): apply focus trap on popovers
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

fix(datePicker): remove unused element ref
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

fix(datePicker): add aria role description
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

fix: a11y improvements (#103)
  .storybook/preview.js
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/components/shared/controls/DatePicker.svelte
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  25e7df812cafe65206b903deb828ac69f02102c0
Due: none

fix(popover): improve focus handling when clicking inside the popover
  src/lib/components/shared/content/PopoverContent.svelte
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

fix(modal): switch off auto focus for close button
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  82fcba730d0c24766e4daca8d7b6c38440039a24
Due: none

fix(audio): improve logging
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.2-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b668c536868ea017623c1ae93570bbd70279e2a8
Due: none

fix(summary): improve ai summary prompt
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/configs/client.ts
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.2-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  61fc0a411e0fe3506ae1fc1933d1727c88d955a7
Due: none

chore(release): 4.11.2-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f74fbc29291e8c55f7ac9c0d1483c3afa1d4fbb3
Due: none

chore: add sonda bundle analyzer
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  63340f42b77022d91e7ea9ee29fbcab0a80a3711
Due: none

chore: update package-lock
  package-lock.json
Due: prettier --write

fix(ai): update and improve AI model config
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
  src/lib/stores/settings.ts
Due: prettier --write, eslint --fix

test(ai): update ai model setting test
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

fix(ai): fix code smells
  src/lib/components/settings/ai/AI.svelte
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(ai): update and improve AI model config (#106)
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
  src/lib/stores/settings.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69287a4c7e83161ea3a0f735b2bb79636e4f1cf9
Due: none

chore(release): 4.11.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  728e6bb8950768aa9a819647d8ca4e4d6bdb6c51
Due: none

chore(release): 4.11.4-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9ca11b70020bf9af2808eda2287cc345819ca324
Due: none

chore(deps): upgrade to storybook v9
  .storybook/main.js
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): bump @types/node
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump openai
  package-lock.json
  package.json
Due: prettier --write

chore: fix local dev chrome devtools issue
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix
