Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove test file
  test.txt
Due: none

fix: adjust opacity of skeletons
  src/lib/components/news/NewsListSkeleton.svelte
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/ui/content/Item.svelte
Due: prettier --write, eslint --fix

chore(release): 4.5.6-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d877441fee4d576cb58d0bdac5ec378dbf0c4059
Due: none

fix: revert adjust opacity of skeletons
  src/lib/components/news/NewsListSkeleton.svelte
  src/lib/components/news/story/StorySkeleton.svelte
  src/lib/components/ui/content/Item.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  deb10585e37565804ae209059269fba9eed88e93
Due: none

chore(release): 4.5.6-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update package-lock.json
  package-lock.json
Due: prettier --write

Release (#9)
  package-lock.json
  package.json
  src/lib/components/ui/content/Content.svelte
  src/lib/utils/styles.ts
  src/routes/+layout.svelte
  test.txt
Due: prettier --write, eslint --fix

chore(release): 4.5.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  54c4df4881f311181c9fd90d33cc67bce73632e1
Due: none

chore(deps): update lock file
  package-lock.json
Due: prettier --write

fix(news): always enable copy to clipboard button
  src/lib/components/news/story/header/options/ShareButton.svelte
Due: prettier --write, eslint --fix

fix(news): additionally write html representation to clipboard when copying
  src/lib/components/news/story/header/options/ShareButton.svelte
Due: prettier --write, eslint --fix

chore(release): 4.5.7-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e54013a7a5c24b110cdb3311d08ce08d8da422f
Due: none

fix(news): allow only orf story urls for content fetching
  src/routes/api/news/content/+server.ts
Due: prettier --write, eslint --fix

chore(release): 4.5.7-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5597f4e8bca9278662df4e283c5152271502f0cd
Due: none

chore(deps): fix package manager
  package.json
Due: prettier --write

chore(deps): update packages
  package-lock.json
  package.json
Due: prettier --write

ci: release patch version on package updates
  .releaserc.json
Due: prettier --write

chore: fix pre-commit hook
  .husky/pre-commit
Due: none

chore(release): 4.5.7-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80d5d3f730d51c23271dbf8ae63b9d7af49cb900
Due: none

ci: update dependabot config
  .github/dependabot.yml
Due: none

chore(release): 4.5.7-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3556006a307ea69bd5bfd2ec855f258c8f4d5db8
Due: none

chore(release): 4.5.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9e0bd47780870c24bc4c782a6fbaf0b6750fea37
Due: none

chore(release): 4.5.8-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1abe7c40f0ca92792c46a97067ee99f630252da3
Due: none

feat(news): add image viewer
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/StoryImageViewer.svelte
  src/lib/components/ui/icons/outline/ChevronLeft.svelte
  src/lib/components/ui/icons/outline/ChevronRight.svelte
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e11ff329d7b53befd10629e2f12a4ff910aa84a
Due: none

chore(release): 4.6.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e802f1b41db34d11bb6856856c62ce49f0c7f35
Due: none

fix(news): adjust image viewer layout
  src/lib/components/news/story/content/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
