Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  0c1b65c68655d1392396a853da8801932a1ed71e
Due: none

chore(release): 4.11.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c16ca753cc9c4ccd8798a38b1cd28aa1bb7905bb
Due: none

feat(news): add AI summary feature with Gemini API integration
  .env
  csp-config.js
  package-lock.json
  package.json
  src/app.scss
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/controls/Label.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/models/ai.ts
  src/lib/models/settings.ts
  src/lib/stores/settings.ts
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

fix(story): adjust spacing in AI summary button and modal height
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

feat(audio): add audio enabled/disabled settings option
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/models/settings.ts
  src/lib/stores/settings.ts
Due: prettier --write, eslint --fix

fix(settings): reorganize layout structure and improve component arrangement
  src/lib/components/settings/Settings.svelte
Due: prettier --write, eslint --fix

fix(modal): adjust padding in modal backdrop for improved appearance
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

fix(story): add deticated component for ai summary
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

fix(story): add error message if ai summary cannot be generated
  src/lib/components/news/story/content/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

fix(tests): add ai summary tests
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

fix(modal): improve modal header styles
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

fix(modal): use same opacity value as for section headers
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

fix: update ai model links
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/models/settings.ts
  src/lib/stores/settings.ts
  src/lib/utils/ai.ts
Due: prettier --write, eslint --fix

fix(modal): adjust header styles
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

fix(env): remove placeholder API key
  .env
Due: none

fix(label): add optional class and for attributes to label component
  src/lib/components/shared/controls/Label.svelte
Due: prettier --write, eslint --fix

fix(focusTrap): enhance element visibility check by excluding aria-hidden elements
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

fix(story): introduce showActions variable to manage visibility of AI summary and audio options
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

feat(story): AI generated summary action for story content (#86)
  csp-config.js
  package-lock.json
  package.json
  src/app.scss
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/settings/Settings.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/components/settings/audio/Audio.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/controls/Label.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/models/ai.ts
  src/lib/models/settings.ts
  src/lib/stores/settings.ts
  src/lib/utils/ai.ts
  src/lib/utils/focusTrap.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56982130e5d7378e8202cc5792f360bec074a5bb
Due: none

fix(alert): add boxPadding prop to AlertBox
  src/lib/components/shared/content/AlertBox.svelte
Due: prettier --write, eslint --fix

fix(modal): add modal story
  src/stories/content/Modal.stories.js
  src/stories/content/ModalView.svelte
Due: prettier --write, eslint --fix

fix(story): adjust AlertBox padding
  src/lib/components/news/story/content/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2fa9e6e4c5629ce3350fa9239136f7c4f3ada0ba
Due: none

fix(story): adjust ai summary modal height
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/stories/content/ModalView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e9187be49071cd4b1cf5902e04037eac3ecb65cf
Due: none

fix(story): update AI summary modal height for larger screens
  src/lib/components/news/story/content/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5da09203b97f9308a2f7b398011638bf0a6adc97
Due: none

chore(release): 4.11.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  037bd8d77170346011c2e8097f2bf333a2ae9ca1
Due: none

fix(story): update AI summary handling and enhance StoryAiSummary component
  package-lock.json
  package.json
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
  src/lib/models/story.ts
Due: prettier --write, eslint --fix

fix(story): add ai-service for content generation
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

fix(story): adjust ai summary skeleton
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
Due: prettier --write, eslint --fix

fix(story): enhance ai summary
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
Due: prettier --write, eslint --fix

fix(story): generate extended summary for long articles
  src/lib/components/news/story/content/StoryAiSummary.svelte
  src/lib/components/news/story/content/StoryAiSummarySkeleton.svelte
  src/lib/components/news/story/content/StoryAiSummaryTextSkeleton.svelte
  src/lib/models/story.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
