Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

feat(settings): add smooth transition when changing appearance settings
  src/lib/components/settings/appearance/Appearance.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a101950759ff959a9a93f0b238482b59a45cebf
Due: none

feat(story): add mark read/unread story option
  src/lib/components/news/story/header/options/MarkReadButton.svelte
  src/lib/components/news/story/header/options/StoryPopover.svelte
  src/lib/stores/bookmarks.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69426d8fab1b1cf3b042bb447a650cab2a4225b0
Due: none

test: adjust appearance settings test
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3f97b188dbb477b30bf655b4cf0e7e7ab0621d2b
Due: none

feat(imageViewer): show image captions when available
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/models/story.ts
  src/stories/content/StoryImageViewerView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8acb84069f12605f6240dfc38fe01bf5522618f2
Due: none

fix(imageViewer): adjust caption font size
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a7d684a4f26ae644c1456d4b9ab8a3de9a1f3c0
Due: none

fix(imageViewer): use correct padding for caption container
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2afa91d76446dcc1fb6f228e1caf157448ec5174
Due: none

fix(imageViewer): remove view transitions when navigating between images
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b1d052ec8008f5d8ee13ec858aeef6a950fd1073
Due: none

fix(news): refactor news store
  src/lib/stores/news.ts
Due: prettier --write, eslint --fix

fix(news): add debug log to trace possible error
  src/lib/components/news/News.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a63b204a6dfe567325a42faeda6765b6cd8e311
Due: none

fix(imageViewer): preload next images
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0877a95328b658b452306bffe2197d0626c4ca59
Due: none

fix(summary): improve ai credit line wrap
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
Due: prettier --write, eslint --fix

chore(release): 4.13.0-next.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  605d9ec1eaa083a134f70b11b2d92c47f1dcb735
Due: none

chore(release): 4.13.0-next.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2085664d76ed0d06ac20d97a89c6ae40dfda4290
Due: none

ci: adjust dependabot schedule
  .github/dependabot.yml
Due: none

chore(deps): bump 2 packages
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9e09fa52dfeaee1c773d4496e92018df1458e40e
Due: none

chore(release): 4.13.0-next.12 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.13.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62541e9ff61a06d639f1d7c10b4949d18ebf9b67
Due: none

chore(release): 4.13.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
