Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

chore(release): 4.13.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ab1084257968b806af109f5e6715fe73736417ea
Due: none

fix(notification): reuse notification id if notification is replaced
  src/lib/stores/notifications.ts
Due: prettier --write, eslint --fix

chore(release): 4.13.3-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a947774966de280fc554b1145d50acc2351d9b12
Due: none

feat(modal): use native dialog element
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
Due: prettier --write, eslint --fix

chore: update tests
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

refactor(modal): remove obsolete svelte document tag
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

refactor(modal): improve component initialization
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/shared/content/Modal.svelte
  src/stories/content/ModalView.svelte
Due: prettier --write, eslint --fix

fix(modal): replace default modal close handling to re-enable transition out
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

ci: add storybook workflow
  .github/workflows/storybook.yaml
Due: none

ci: fix storybook workflow permissions
  .github/workflows/storybook.yaml
Due: none

chore: update README
  README.md
Due: prettier --write

chore(release): 4.13.3-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a60a3a78fbd59693071815b8862fd95d4b5ecb3c
Due: none

fix(modal): improve backdrop transition
  src/app.css
  src/lib/components/shared/content/Modal.svelte
  src/lib/utils/transitions.ts
Due: prettier --write, eslint --fix

feat(modal): use native dialog element (#133)
  src/app.css
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/shared/content/Modal.svelte
  src/lib/components/shared/transitions/AccessibleTransition.svelte
  src/lib/utils/transitions.ts
  src/stories/content/ModalView.svelte
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c9b445e773d1d3f4d9d3556a89ae1508fc22e546
Due: none

feat(news): display news search shortcut keys
  src/lib/components/news/filter/NewsFilter.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/shared/content/KeyboardKey.svelte
  src/lib/components/shared/controls/Input.svelte
  src/lib/utils/platform.ts
Due: prettier --write, eslint --fix

chore(release): 4.14.0-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4a0ab0d101cc75911194866443c53352fe6972e
Due: none

chore: update input story
  src/stories/controls/Input.stories.js
Due: prettier --write, eslint --fix

fix(bookmarks): display search shortcut keys
  src/lib/components/news/filter/BookmarkActions.svelte
Due: prettier --write, eslint --fix

chore(release): 4.14.0-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  db5a884e1d1fda360155e5f5e6d60c2038bd4526
Due: none

fix: update search shortcut to only use 'k'
  src/lib/components/shared/app/EnableGlobalKeybindings.svelte
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d5f283d4fa0a932614952ba7ed5fd37845fffb3c
Due: none

chore(release): 4.14.0-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.0-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47dbfdb4324f8bf9de6947c37898460aa8c73350
Due: none

chore(deps): update package-lock
  package-lock.json
Due: prettier --write

chore: set fixed node version
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  package-lock.json
  package.json
Due: prettier --write

ci: set node-version-file
  .github/workflows/ci.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): rollback jsdom
  package-lock.json
  package.json
Due: prettier --write
