Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  ed1155dce49c055804615f965be0a30dc78a65b5
Due: none

chore(release): 4.6.6-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7103f78bb3eb0b77bf934466644f790bd76931d4
Due: none

chore(release): 4.6.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a6ff0d5fdd5a22326784f0a707e08d3ff5cd9d5
Due: none

ci: disable scheduled test runs
  .github/workflows/test.yaml
Due: none

fix(news): add fact box styling
  src/app.scss
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore(release): 4.6.6-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1480e1ec0d3309a3127ab3609e9b44db4fc766f6
Due: none

fix(news): adjust image and caption styles
  src/app.scss
Due: prettier --write

chore(release): 4.6.6-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1bed167764ee42153c080a8795a7713d4469559a
Due: none

chore(release): 4.6.6-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c9a6c982418ee1a74ccd034dfc5238642a00a6a3
Due: none

chore(release): 4.6.6-next.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08d7ceb6f42b97eab9f19a2249613373951657e3
Due: none

chore(release): 4.6.6-next.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  92e976634bd960bf3416cfeca1f1ffd4d7e6bdd0
Due: none

chore(release): 4.6.7-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e8e5b92fb23d672cd46d7e2d308b1ae3d2e4864a
Due: none

chore(release): 4.6.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  723beffd681009438435238d53adf9c9fee0d8ec
Due: none

chore(release): 4.6.7-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e2167e2d16ed1eb8275ff8c5662434d13297cdef
Due: none

chore(release): 4.6.7-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  02d955012f2b9518212c81f6b3e87be8b94faca0
Due: none

chore: remove @types/dompurify
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80e5418b6e9c72e846762633fef7844e54a41e77
Due: none

chore(release): 4.6.7-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.6.7-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49e537dc3dfd0d7ee7362e808aa031dd6806ca89
Due: none

chore(release): 4.6.8-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2bf2bfdf037c1e73b16fd970025cd36824c35f5f
Due: none

chore(release): 4.6.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  961fc2f623d9222bdbb2504dbb71584b9b67c18f
Due: none

chore(deps): update packages
  package-lock.json
  package.json
Due: prettier --write
