Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  9586ecd5566fe13a92338d948bbd5b3433662222
Due: none

fix: refactor focusTrap utility
  package-lock.json
  package.json
  src/lib/components/shared/content/Modal.svelte
  src/lib/utils/focusTrap.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.40 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3d2d4495fd3e1a1a760f58e91cb5931faa2cffd9
Due: none

fix(story): enhance AI summary error handling
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/errors/errors.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.41 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  70092868beeccdcce665b5f45b7b9158929ced0a
Due: none

chore(deps): bump lint-staged and zod
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump zod
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.11.0-next.42 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  86e24abbd933e73439df00f36b4654292ceae515
Due: none

fix(ai): update gemini-2.5-flash-preview model version to 05-20
  src/lib/configs/client.ts
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.43 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2915436bb67a5fd6d462bcd6e2aac2f9a7358fb9
Due: none

fix(ai): disable thinking for models which support it
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/configs/client.ts
  src/lib/models/ai.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0-next.44 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  329817f6a8fb1b8fee0d57a252bf1917cc21a863
Due: none

chore(release): 4.11.0-next.45 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0751de9d522ba311f65b02c2471c6e2ced804b01
Due: none

chore(release): 4.11.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  773e79d0af7578ec6e1c6a19d12ec19d1a934639
Due: none

feat(datePicker): add keyboard navigation support for day switching
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

chore(storybook): fix svelte store setup within storybook context
  .storybook/preview.js
Due: prettier --write, eslint --fix

fix(datePicker): enhance date selection logic
  src/lib/components/shared/controls/DatePicker.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c1e5fbec18dd61d8476d1e96da04aa37b9263efd
Due: none

chore(deps): switch from svelte-local-storage-store to svelte-persisted-store
  package-lock.json
  package.json
  src/lib/stores/settings.ts
  src/lib/stores/styles.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  953e1370bc2c9cba8377d08fe4701c91d2bccf3d
Due: none

chore(release): 4.11.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  881d42775a69e4154fb4c2f3314b9c53fa84049c
Due: none

fix(ai): improve logging
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a5d2742d67c0a01260754bf4cd0170b01ffa129
Due: none

chore(release): 4.11.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  01e0557addd9c6d6859ec3a4e06a663f3841c59a
Due: none

fix(story): deduplicate images passed to StoryImageViewer component
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

chore(release): 4.11.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  99cc855941a95ac3db8ce546616ab38e1afd4deb
Due: none

chore(release): 4.11.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
