Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 4.16.0-next.47 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2920d7c30a272738bf55958ff4c2e4e379ff3226
Due: none

fix(content): disable pointer events for image wrapper
  src/app.css
Due: prettier --write

chore(release): 4.16.0-next.48 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31bd532f7850178511470d7023b4021d3f0a7f45
Due: none

feat: replace zod with effect schema
  package-lock.json
  package.json
  src/env.ts
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/db/news.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/NewsList.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/models/ai.ts
  src/lib/models/charts.ts
  src/lib/models/checks.spec.ts
  src/lib/models/checks.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/pageKey.ts
  src/lib/models/searchRequest.ts
  src/lib/models/story.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/news.ts
  src/lib/stores/newsEvents.ts
  src/lib/stores/settings.ts
Due: prettier --write, eslint --fix

refactor: rename orf url filter
  src/lib/backend/trpc/router.ts
Due: prettier --write, eslint --fix

refactor: update schema checks
  src/lib/backend/trpc/router.ts
  src/lib/models/checks.ts
Due: prettier --write, eslint --fix

refactor: move story content request schema to own file
  src/lib/backend/trpc/router.ts
  src/lib/models/storyContentRequest.ts
Due: prettier --write, eslint --fix

fix: fix issues
  src/lib/backend/db/news.ts
  src/lib/models/checks.spec.ts
  src/lib/stores/news.ts
Due: prettier --write, eslint --fix

feat: replace zod with effect schema (#251)
  package-lock.json
  package.json
  src/env.ts
  src/lib/api/info.ts
  src/lib/api/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/db/news.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/NewsList.svelte
  src/lib/components/news/filter/NewsFilterMenuPopover.svelte
  src/lib/components/settings/ai/AI.svelte
  src/lib/models/ai.ts
  src/lib/models/charts.ts
  src/lib/models/checks.spec.ts
  src/lib/models/checks.ts
  src/lib/models/info.ts
  src/lib/models/news.ts
  src/lib/models/pageKey.ts
  src/lib/models/searchRequest.ts
  src/lib/models/story.ts
  src/lib/models/storyContentRequest.ts
  src/lib/stores/bookmarks.ts
  src/lib/stores/news.ts
  src/lib/stores/newsEvents.ts
  src/lib/stores/settings.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.49 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cfcd0128032c1ad0e801e18c45cc279006e1e502
Due: none

chore(release): 4.16.0-next.50 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  87d6e7ed677783d8acb04a330d61dd2332efe3db
Due: none

refactor: extract transform logic into services
  eslint.config.js
  src/lib/backend/content/dom.ts
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/site.ts
  src/lib/backend/content/transform/anchor.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/cleanup.ts
  src/lib/backend/content/transform/footer.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/content/transform/list.ts
  src/lib/backend/content/transform/readability.ts
  src/lib/backend/content/transform/sanitize.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/backend/content/transform/table.ts
Due: prettier --write, eslint --fix

refactor: extract dom creation into service
  src/lib/backend/content/dom.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/readability.ts
Due: prettier --write, eslint --fix

refactor: adjust service identifier
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/site.ts
  src/lib/backend/content/transform/anchor.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/cleanup.ts
  src/lib/backend/content/transform/footer.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/content/transform/list.ts
  src/lib/backend/content/transform/readability.ts
  src/lib/backend/content/transform/sanitize.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/backend/content/transform/table.ts
Due: prettier --write, eslint --fix

fix: optimize fetching
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

fix: add content fetch abort signal and timeout
  src/lib/backend/content/news.ts
  src/lib/backend/content/site.ts
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

refactor: extract fetch logic into separate service
  src/lib/backend/content/fetch.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/site.ts
  src/lib/backend/content/transform/chart.ts
Due: prettier --write, eslint --fix

fix: optimize isKeyword check for speech text extraction
  src/lib/backend/content/transform/speech.ts
Due: prettier --write, eslint --fix

fix: add null check
  src/lib/backend/content/transform/footer.ts
Due: prettier --write, eslint --fix

fix: add managed runtime
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

fix(content): refactor content transformation (#253)
  eslint.config.js
  src/lib/backend/content/dom.ts
  src/lib/backend/content/fetch.ts
  src/lib/backend/content/metadata.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/site.ts
  src/lib/backend/content/transform/anchor.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/cleanup.ts
  src/lib/backend/content/transform/footer.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/content/transform/list.ts
  src/lib/backend/content/transform/readability.ts
  src/lib/backend/content/transform/sanitize.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/backend/content/transform/table.ts
  src/lib/errors/errors.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.51 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3164d308d6b7ba5afc08815eb0c14efe8dfe9303
Due: none

feat(audio): split article into separate chapters
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/speech.spec.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/controls/Button.svelte
  src/lib/configs/shared.ts
  src/lib/models/story.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/chapter.spec.ts
  src/lib/utils/chapter.ts
  src/lib/utils/transitions.ts
  src/service-worker.ts
  src/stories/content/StoryContentView.svelte
  tests/mocks/news.mocks.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

refactor(audio): decompose audio player into smaller components
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/content/audio/AudioPlayer.svelte
  src/lib/components/shared/content/audio/chapters/Chapters.svelte
  src/lib/components/shared/content/audio/chapters/list/ChapterList.svelte
  src/lib/components/shared/content/audio/chapters/progress/ChapterProgress.svelte
  src/lib/components/shared/content/audio/controls/Controls.svelte
  src/lib/components/shared/content/audio/controls/WindowControls.svelte
  src/lib/components/shared/content/audio/info/Info.svelte
  src/lib/components/shared/content/audio/mini/MiniPlayer.svelte
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

fix(audio): chapter bar width represents actual chapter length
  src/lib/components/shared/content/audio/chapters/list/ChapterList.svelte
  src/lib/components/shared/content/audio/chapters/progress/ChapterProgress.svelte
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

fix(audio): reset expanded state on close
  src/lib/components/shared/content/audio/AudioPlayer.svelte
Due: prettier --write, eslint --fix

fix(audio): adjust overscroll behavior
  src/lib/components/shared/content/audio/AudioPlayer.svelte
  src/lib/components/shared/content/audio/chapters/list/ChapterList.svelte
  src/lib/components/shared/content/audio/mini/MiniPlayer.svelte
Due: prettier --write, eslint --fix

refactor(audio): small adjustment
  src/lib/components/shared/content/audio/chapters/list/ChapterList.svelte
Due: prettier --write, eslint --fix

fix(audio): adjust styles
  src/lib/components/shared/content/audio/chapters/Chapters.svelte
  src/lib/components/shared/content/audio/chapters/progress/ChapterProgress.svelte
Due: prettier --write, eslint --fix

fix(audio): small fixes
  src/lib/backend/content/transform/speech.spec.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/stores/runes/audio.svelte.ts
Due: prettier --write, eslint --fix

fix: small fixes
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/chapter.ts
  src/service-worker.ts
Due: prettier --write, eslint --fix

feat(audio): add article chapters when using audio mode (#254)
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/speech.spec.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/components/shared/content/audio/AudioPlayer.svelte
  src/lib/components/shared/content/audio/chapters/Chapters.svelte
  src/lib/components/shared/content/audio/chapters/list/ChapterList.svelte
  src/lib/components/shared/content/audio/chapters/progress/ChapterProgress.svelte
  src/lib/components/shared/content/audio/controls/Controls.svelte
  src/lib/components/shared/content/audio/controls/WindowControls.svelte
  src/lib/components/shared/content/audio/info/Info.svelte
  src/lib/components/shared/content/audio/mini/MiniPlayer.svelte
  src/lib/components/shared/controls/Button.svelte
  src/lib/configs/shared.ts
  src/lib/models/story.ts
  src/lib/stores/runes/audio.svelte.ts
  src/lib/utils/chapter.spec.ts
  src/lib/utils/chapter.ts
  src/lib/utils/transitions.ts
  src/service-worker.ts
  src/stories/content/StoryContentView.svelte
  tests/mocks/news.mocks.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.0-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80cde495493fb754bc7ef171b17bd62a7d5c0538
Due: none

fix(audio): add colors to the chapter progress bar
  src/lib/components/shared/content/audio/chapters/progress/ChapterProgress.svelte
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
