Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  99064c3087885eafb274d36e644073bf83aec984
Due: none

chore(deps): remove direct emnapi deps
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e2ae7e865c24515bfbe5962910a2cdfa21203772
Due: none

chore(release): 4.15.0-next.20 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.15.0-next.21 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a82cd6eaf864dc960a81ba136579d534750c7943
Due: none

chore(release): 4.15.0-next.22 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d3057ae73774c21a6447a9db5f24ebaf9c045af
Due: none

feat(summary): improve summary for short articles
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/shared/controls/Button.svelte
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/models/story.ts
  tests/fixtures.ts
  tests/pages/news.page.ts
  tests/pages/settings.page.ts
  tests/specs/news.spec.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

test: reorder tests
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

test: update tests
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

test: remove unintended mock flag
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

test: fix tests which check if settings are persisted
  tests/fixtures.ts
  tests/pages/news.page.ts
  tests/pages/settings.page.ts
  tests/shared/waitForTestReady.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

feat(summary): improve summary for short articles (#205)
  src/lib/components/news/story/content/summary/StoryAiSummary.svelte
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/components/shared/controls/Button.svelte
  src/lib/components/shared/controls/ButtonLink.svelte
  src/lib/models/story.ts
  tests/fixtures.ts
  tests/pages/news.page.ts
  tests/pages/settings.page.ts
  tests/shared/waitForTestReady.ts
  tests/specs/news.spec.ts
  tests/specs/settings.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.23 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7f106f6884528daac3edfc1e0d55b2005aa1150e
Due: none

chore(release): 4.15.0-next.24 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  016ff43a1fe37d35b0888b754bcc3a4525080228
Due: none

fix(summary): format message templates
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.25 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ede918255c048d381352a2902fe250aeed0d5a76
Due: none

chore(release): 4.15.0-next.26 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e820bde8af21aa92be5500bc539170fa7d6d8af2
Due: none

chore(release): 4.15.0-next.27 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  91dcba116b7e6e8d0e798282ee356b1772fb150a
Due: none

fix(search): add fallback if set operations are not defined
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.28 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee8b12c1969e35f52a1cdd84e1c08efec8612855
Due: none

fix(search): iterate over array instead of iterator
  src/lib/stores/searchRequestParameters.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.29 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  28b5076f8e6ad6c95eb423d79f8671a33c56a2ee
Due: none

fix: add browserslist based compatability check
  eslint.config.js
  package-lock.json
  package.json
  src/lib/components/shared/app/AppLayout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.30 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f3d28233d93396c1fd4b09c66b1aeb40f5b2614d
Due: none

fix(story): make category field optional
  src/lib/backend/db/news.ts
  src/lib/models/story.ts
  src/lib/stores/bookmarks.ts
Due: prettier --write, eslint --fix

chore(release): 4.15.0-next.31 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a88f293b135f270544d127ce20c33531aab3b316
Due: none

chore(release): 4.15.0-next.32 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f3d441529ce0f385b89e9cfbab8617afba4cc531
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
