Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  c7a60677935f08d20a707efec4ad845428cb94f4
Due: none

chore(release): 4.16.0-next.39 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d37e4cbc79047103ac7d9efceef79793f37d2827
Due: none

fix(content): improve table optimization
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

chore: fix vite warnings
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.40 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31302de9305f7e08a2e03d68fb6601e1cd6fd075
Due: none

chore(release): 4.16.0-next.41 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f285f6d0af3d27b9c6a2fd346803e4ac4df2c890
Due: none

chore(release): 4.16.0-next.42 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a5761967a6d3fe019af36e9bf718732058e46387
Due: none

fix(story): optimize image credit styles
  src/app.css
Due: prettier --write

chore(release): 4.16.0-next.43 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4f7ea4e778031d9cf353b4fe4cee99fe4d37cf9
Due: none

fix(content): make tables rounded
  src/app.css
  src/stories/content/StoryContent.stories.js
  src/stories/content/StoryContentView.svelte
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.44 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56073237e145102506d424fa01e4b05db6708a2d
Due: none

feat(content): add loading and error indication for images
  src/app.css
  src/lib/components/news/story/content/StoryContent.svelte
  src/stories/content/StoryContentView.svelte
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix: adjust styles formatting
  src/app.css
Due: prettier --write

fix: adjust styles
  src/app.css
  src/lib/components/news/story/content/StoryContent.svelte
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix: keep image width and height attributes during transformation
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
Due: prettier --write, eslint --fix

refactor: refactor content transformation
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/backend/content/transform/table.ts
Due: prettier --write, eslint --fix

fix: always use pulse animation for image loading skeleton
  src/app.css
  src/lib/components/news/story/content/StoryContent.svelte
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

fix: fix placeholder decoding
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/transform/image.ts
  src/stories/content/StoryContentView.svelte
Due: prettier --write, eslint --fix

fix: fix crop param parsing
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/transform/image.ts
Due: prettier --write, eslint --fix

fix: adjust image error handling
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

feat(content): add loading and error indication for images (#248)
  src/app.css
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/content/transform/speech.ts
  src/lib/backend/content/transform/table.ts
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/stories/content/StoryContentView.svelte
  tests/mocks/news.mocks.ts
  tests/pages/news.page.ts
  tests/specs/news.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.45 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0fce1014b523f48dc5c88d6670531e6c04f7142f
Due: none

test: add unit tests for the AI service
  src/lib/services/ai/ai.spec.ts
Due: prettier --write, eslint --fix

chore(deps): migrate to Effect v4
  package-lock.json
  package.json
  src/lib/api/news.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.spec.ts
  src/lib/services/ai/ai.ts
  src/lib/utils/effectHelper.ts
Due: prettier --write, eslint --fix

test: fix review issues
  src/lib/services/ai/ai.spec.ts
Due: prettier --write, eslint --fix

chore(deps): migrate effect to v4 (#249)
  package-lock.json
  package.json
  src/lib/api/news.ts
  src/lib/backend/content/news.spec.ts
  src/lib/backend/content/news.ts
  src/lib/backend/content/transform/chart.ts
  src/lib/backend/content/transform/image.ts
  src/lib/backend/trpc/router.ts
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/services/ai/ai.spec.ts
  src/lib/services/ai/ai.ts
  src/lib/utils/effectHelper.ts
Due: prettier --write, eslint --fix

chore(release): 4.16.0-next.46 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95114d544444f52531c08bdedca1e727025089e8
Due: none

feat(ai): replace openai with effect-ai
  package-lock.json
  package.json
  patches/openai+6.49.0.patch
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/models/story.ts
  src/lib/services/ai/ai.spec.ts
  src/lib/services/ai/ai.ts
  src/lib/services/ai/gemini/geminiLanguageModel.ts
Due: prettier --write, eslint --fix

refactor: remove unused schemas
  src/lib/models/ai.ts
Due: prettier --write, eslint --fix

refactor: stop logging schema
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

refactor: throw error when streaming is used as it is not supported
  src/lib/services/ai/gemini/geminiLanguageModel.ts
Due: prettier --write, eslint --fix

feat(ai): replace openai with effect-ai (#250)
  package-lock.json
  package.json
  patches/openai+6.49.0.patch
  src/lib/components/news/story/content/summary/StoryAiSummaryState.svelte.ts
  src/lib/models/ai.ts
  src/lib/models/story.ts
  src/lib/services/ai/ai.spec.ts
  src/lib/services/ai/ai.ts
  src/lib/services/ai/gemini/geminiLanguageModel.ts
Due: prettier --write, eslint --fix
