Repository Robin-w151/orfarchiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write",
  "*.{js,ts,svelte}": "eslint --fix"
}

Notes added by 'git notes add'
  99ad42aa7811dd89f19db6c2bc546a464ed89f93
Due: none

fix: fix lint issues
  src/lib/components/news/story/content/StoryContent.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.13 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50b3c051656ded3c76a77f97079f5ddf1307252d
Due: none

chore(deps): upgrade to zod v4
  package-lock.json
  package.json
  src/lib/api/news.ts
  src/lib/backend/trpc/router.ts
  src/lib/models/searchRequest.ts
  src/lib/models/story.ts
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.14 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9d504eb301ca619515986923ad2f68195fce8eb0
Due: none

fix(modal): add backdrop transition
  src/lib/components/shared/content/Modal.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.15 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  60aa066adb15d850769dd65b0740b5b82ce90471
Due: none

fix(ai): adjust type assertion
  src/lib/services/ai/ai.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.0-next.16 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  75c0a92f2c5335fc79055c2fb0cba3bb6a7c6918
Due: none

Notes added by 'git notes add'
  4c369cb66e7e4ee2d58d6fd81931032e03685ff7
Due: none

chore(release): 4.12.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(error): add type assertion for path variable
  src/routes/+error.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.1-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1bd8325ded6d59aa818a4ccb89226793ce667b2c
Due: none

fix: add simple page view transitions
  src/app.css
  src/lib/components/shared/app/AppLayout.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.1-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e1e52937ba8678c00d5b78b85150a9fe6a4675e
Due: none

chore(release): 4.12.1-next.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a4d7315e6ec427ea05a2ad537412e77ba1a4d3b
Due: none

fix(story): adjust image viewer zoom speed
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/utils/support.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.1-next.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41d6bc316a9fd57fc0476972e9065d8624e4248e
Due: none

fix(notifications): adjust notification transition
  src/lib/components/shared/controls/Notification.svelte
Due: prettier --write, eslint --fix

chore(release): 4.12.1-next.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5261ac859e5bc3d5807caac0495ac518739d2489
Due: none

chore(release): 4.12.1-next.6 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1ed46d7a2151154d0ded1c0e5cd5d553df1acae0
Due: none

chore(release): 4.12.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dffeff175255cba40fd42d2547d0e34b436f3133
Due: none

fix(audio): animate toggle minimize
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/utils/support.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  eafab97be20d7bc59adc621e97b55371adcd72ac
Due: none

chore(release): 4.12.2-next.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(viewTransition): optimize view-transition behavior
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/utils/viewTransition.ts
Due: prettier --write, eslint --fix

chore(release): 4.12.2-next.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  827e518450e08bcbf656baf20b26bf9120d01c57
Due: none

feat(story): add subtle transitions visually improving opening and navigating images in the viewer
  src/app.css
  src/lib/components/news/story/content/StoryContent.svelte
  src/lib/components/news/story/content/image/StoryImageViewer.svelte
  src/lib/components/shared/app/AppLayout.svelte
  src/lib/components/shared/content/AudioPlayer.svelte
  src/lib/utils/viewTransition.ts
Due: prettier --write, eslint --fix
